.account-landing-container{
	padding:0 5px 35px;
	border-bottom: 1px solid #d6d6d6;
    /*padding-bottom: 45px;*/
	p.my-account-main-heading {
		font: 1.875em @neutraface-demi;
		color: @base-bg-purple-dark;
		padding: 10px 0;
	}
	.mobile-account-menu {
		.bachman-border-radius(0);
		.bachman-box-shadow (0px 0px 4px #AE83CF);
		color: #AE83CF;
		border: 1px solid #AE83CF;
		width: 95%;
		margin: 10px auto 15px;
		font-size: 1.1em;
		height: 45px;
	    line-height: 45px;
	    padding: 0 0 0 15px;
	    background-image: url(../../assets/images/dropdown-purple.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50px 15px;
        cursor: pointer;
        display: none;
        &.open{
            background-image: url(../../assets/images/dropdownup-purple.svg);
        }
		.title {
			font: 0.875em @proxima-bold;
			line-height: 45px;
		}
		.mobile-account-ul {
			width: 100%;
			font-size: 1em;
			.bachman-border-radius(0);
			.mobile-account-li {
				font: 0.75em/1em @proxima-regular;
                color: #000;
                border-bottom: 1px solid #ddd;
                padding: 5px 0;
                a {
            	    padding: 3px 20px 3px 30px;
                }
                &:hover, &:active {
                    color: @font-purple-light;
                }
                &:last-child {
                	border-bottom: none;
                }
                &.active {
                	background: transparent;
                	a {
                		color: @font-purple-light;
                		background: transparent;
                	}
                }
			}
		}
	}
	.my-account-menu {
		float: left;
		width: 21%;
		padding: 0 4px 60px 4px;
		border: 1px solid @base-bg-purple-light;
		background-color:#fefaff;
		.my-account-menu-ul {
			.my-account-menu-li {
				p {
					line-height: 30px;
					&:hover {
						span {
							color: @font-purple-dark;
							svg {
								fill: @base-bg-purple-dark;
							}
							&.nohover-icon {
								svg {
									fill: #000;
								}
							}
							&.nohover-title {
								color: #000;
							}
						}
						.ppa-logo {
							.ppa-logo-svg {
								display: none;
							}
							.ppa-logo-svg-hover {
								display: block;
								svg {
									path {
										fill: @base-bg-purple-dark;
									}
								}
							}
						}
					}
				}
				padding: 0px 0 0px 25px;
				border-bottom: 1px solid #d6d5d6;
				height: 40px;
    			line-height: 40px;
				&:nth-child(1), &:nth-child(2){
				    height: auto;
    				line-height: normal;
    				padding: 8px 0 8px 25px;
    				&.active{
						background-color:inherit;
						.my-account-menu-li-title{
							color: #000;
						}
					}
				}
				.my-account-menu-li-icon {
					svg{
					    width: 16px;
    					height: 16px;
    					display: inline-block;
   						vertical-align: middle;
    					path{
    						stroke: #000;
    						stroke-width: 2;
    					}
					}
					.user-acc-svg {
						width: 18px;
						height: 16px;
						path {
							stroke-width: 3;
							fill: #fff;
						}
					}
					.orders-svg {
						path {
							stroke-width: 0.5;
						}
					}
					.credit-card-svg {
						width: 20px;
    					height: 16px;
						path {
							stroke-width: 0;
						}
					}
					.acc-purple-perk-svg {
						.pth0 {
							fill: #FFFFFF;
						}
						.pth1 {
							fill: #9C83C9;
						}
						.pth2 {
							opacity: 0.56;
							clip-path: url(#SVGID_2_);
						}
						.pth3 {
							fill: none;
							stroke: #231F20;
							stroke-width: 4;
							stroke-miterlimit: 10;
						}
						.pth4 {
							fill: #231F20;
						}
						.pth5 {
							fill: none;
							stroke: #FFFFFF;
							stroke-width: 0.5;
						}
						.pth6 {
							fill: none;
							stroke: #FFFFFF;
							stroke-width: 0.25;
							stroke-linecap: round;
							stroke-linejoin: round;
						}
					}
					.wishlist-svg {
						width: 20px;
    					height: 18px;
						path {
							stroke-width: 0.5;
						}
					}
					.email-svg {
					    width: 20px;
    					height: 16px;
						path {
							stroke-width: 0.5;	
						}
					}
					&.ppa-logo {
						float: left;
						.acc-purple-perk-svg {
							width: 30px;
						    height: 25px;
						    position: relative;
						    left: -5px;
						}
						& + .my-account-menu-li-title {
						    padding-left: 5px;
						}
						.ppa-logo-svg, .ppa-logo-svg-hover {
							position: relative;
							left: -3px;
							svg {
								width: 26px;
						    	height: 26px;
							}
						}
						.ppa-logo-svg-hover {
							display: none;
						}
					}
				}
				.my-account-menu-li-title {
					font: 1em @proxima-light;
					font-weight: bold;
					padding-left: 7px;
					color: #000;
					display: inline-block;
   					vertical-align: middle;
   					padding-bottom: 0;
   					&:hover {
						color: @base-bg-purple-dark;
					}
					&.nohover-title {
						&:hover {
							color: #000;
						}
					}
				}
				.my-account-menu-links {
					padding-left: 27px;
					font: 0.875em/2.2em @proxima-light;
					font-weight: bold;
					color: #424242;
					&.active{
						background-color:#a576ca;
						color:#fff;
						&:hover {
							color:#fff;
						}
					}
					&:hover {
						color: @base-bg-purple-light;
					}
				}
				&.active{
					background-color: @base-bg-purple-light;
					.my-account-menu-li-title{
						color: #fff;
						&:hover {
							color: #fff;
						}
					}
					.my-account-menu-li-icon {
						svg {
							path, rect {
    							stroke: #fff;
    							fill: #fff;
    						}
						}
						.acc-purple-perk-svg {
							background: #fff;
						}
					}
					.ppa-logo {
						.ppa-logo-svg {
							display: none;
						}
						.ppa-logo-svg-hover {
							display: block;
							path {
								stroke: #fff;
    							fill: #fff;
							}
						}
						&:hover {
							.ppa-logo-svg-hover {
								path {
									stroke: #fff;
									fill: #fff;
								}
							}
						}
					}
					p {
						&:hover {
							.ppa-logo {
								.ppa-logo-svg-hover {
									svg {
										path {
											stroke: #fff;
											fill: #fff;
										}
									}
								}
							}
						}
					}
				}
				&.vert-ali-links {
					p {
						line-height: 40px;
						vertical-align: middle;
						.my-account-menu-li-title {
							line-height: 40px;
							vertical-align: top;
						}
					}
				}
			}
		}
	}
	.my-account-menu-content {
		float: left;
		width: 79%;
		padding:0 5px;
		.my-account-menu-content-inner{
			border-top:1px solid #d6d6d6;
			.container-fluid{
				padding:0 10px;
				h3{
					font: 1.125em @proxima-bold;
					padding: 15px 0;
					.m0;
				}
			}
		}
		.my-account-content-title {
			color: #000;
			font: 1.125em @proxima-bold;
			/*font-weight: bold;*/
			letter-spacing: normal;
			/*padding-left: 5px;*/
			padding-left: 0;
    		margin: 15px 0 20px;
		}
	}
}

@media screen and (min-width:320px) and (max-width:810px) {
	.account-landing-container{
		padding:0 5px 30px;
		padding-top: 0 !important;
		p.my-account-main-heading {
			font: 1em @neutraface-demi;
			padding: 20px 0 10px;
		}
		.mobile-account-menu {
			display: block;
		}
		.my-account-menu-content {
			width: 100%;
			padding: 0;
			.my-account-menu-content-inner {
				border-top: none;
				.container-fluid{
					padding:0;
				}
			}
			.my-account-content-title {
				display: none;
			}
		}
	}
}

@media screen and (min-width:900px) and (max-width:962px) {
	.account-landing-container {
		.mobile-account-menu {
			display: block;
		}
		.my-account-menu-content {
			width: 100%;
			.my-account-menu-content-inner {
				border-top: none;
				.container-fluid{
					padding: 0;
				}
			}
		}
	}
}

@media screen and (min-width:900px) and (max-width:962px) and (orientation:landscape) {
	.account-landing-container {
		.mobile-account-menu {
			display: none;
		}
		.my-account-menu {
			width: 21%;
			display: block !important;
			.my-account-menu-ul {
				.my-account-menu-li {
					padding: 0px 0 0px 15px;
					&:nth-child(1), &:nth-child(2) {
    					padding: 8px 0 8px 10px;
    				}
				}
			}
		}
		.my-account-menu-content {
			width: 79%;
			.my-account-menu-content-inner {
				border-top: 1px solid #d6d6d6;
				.container-fluid{
					padding: 0 10px;
				}
			}
			.my-account-content-title {
				display: block;
				color: #000;
				font: 1.125em @proxima-bold;
				padding-left: 5px;
	    		margin: 10px 0 12px;
	    		border: none;
	    		.bachman-box-shadow (none);
			}
		}
	}
}

@media screen and (min-width:767px) and (max-width:1110px) {
	.account-landing-container {
		.mobile-account-menu {
			display: block;
		}
		.my-account-menu-content {
			.my-account-content-title {
				display: none;
			}
		}
	}
}

@media screen and (min-width:767px) and (max-width:1110px) and (orientation:landscape) {
	.account-landing-container {
		padding-top: 182px !important;
		.mobile-account-menu {
			display: none;
		}
		.my-account-menu-content {
			.my-account-content-title {
				display: block;
			}
		}
	}
}

@media screen and (min-width:900px) and (max-width:962px) and (orientation:landscape) {
	.account-landing-container {
		padding-top: 182px !important;
	}
}

@media screen and (min-width:1400px) {
	.account-landing-container .my-account-my-profile .my-profile-container .my-profile-logininfo-container .my-profile-emailinfo h5,
	.account-landing-container .my-account-my-profile .my-profile-container .my-profile-logininfo-container h5, 
	.account-landing-container .my-account-my-profile .my-profile-container .my-profile-contactinfo-container h5 
	{
		line-height: 1em !important;
	}
	.account-landing-container .my-account-my-profile .my-profile-container .my-profile-logininfo-container h5 {
		float: left;
	}
	.account-landing-container .my-account-my-profile .my-profile-container .my-profile-logininfo-container .accPro-ChangePwd {
		clear: both;
	}
	.account-landing-container .my-account-my-profile .accPro-Edit-Wrap .accPro-Edit-Content .ph-number-group,
	.address-book-container .row-address-search .add-new-addr-cont .add-new-addr-div .add-new-addr-form .phone-number 
	{
		padding-right: 0;
	}
	.address-book-container .row-address-search .adress-edit-container .add-new-addr-div .add-new-addr-form .phone-number {
		width: 50% !important;
		padding-right: 0;
	}
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .event-title, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .event-title
	{
		font-size: 1.125em !important;
	}
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .timings .event-date, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .timings .event-date, 
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .timings .event-time, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .timings .event-time 
	{
	    margin: 15px 0 12px 0 !important;
	}
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .timings .event-date .title, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .timings .event-date .title, 
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .timings .event-time .title, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .timings .event-time .title
	{
	    margin-bottom: 5px !important;
	    font-size: 0.875em !important;
	}
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .timings .event-date .value, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .timings .event-date .value, 
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .timings .event-time .value, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .timings .event-time .value
	{
		font-size: 1em !important;
	}
	.my-account-events-container .my-acc-events-cont .upcoming-event-cont .event-info .venue .value, 
	.my-account-events-container .my-acc-events-cont .past-even-cont .event-info .venue .value
	{
		line-height: 1.5em !important;
	}
	.my-account-wislist-container .wishlist-cont .wishlist-item .prod-img-cont .prod-desc .custom-name 
	{
		font-size: 1.25em !important;
		margin-bottom: 15px !important;
	}
	.my-account-wislist-container .wishlist-cont .wishlist-item .prod-img-cont .prod-desc .item-number, 
	.my-account-wislist-container .wishlist-cont .wishlist-item .prod-img-cont .prod-desc .product-type
	{
		font-size: 1em !important;
		margin-bottom: 10px !important;
	}
	.my-account-wislist-container .wishlist-cont .wishlist-item .addToCart-cont button,
	.my-account-wislist-container .addAllToCart-cont button 
	{
		font-size: 1em !important;
		height: 45px !important;
	}
}

/* delete popup */

.deletePopup{
	.modal-dialog {
        width:40%;
        left:30%;
        .modal-content {
            border-radius: 0px;
            box-shadow: none;
            text-align:center;
            padding:20px 0px;
            	p{
            		font:1em @proxima-regular;
            		color:#424242;
            		margin-bottom:15px;
            	}
            	button{
            		&.save-btn{
            			.green-button;
            		}
            		&.cancel-btn{
            			.white-button;
            			background:#f4f4f4;
            			margin-left:30px;
            		}
            			height:2.5em;
            			line-height:2.5em;
            			width:100px;
            	}
        }
    }
}