<div class="container-fluid orderConfirmation">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="wish-title">Thank You For Your Order!</p>
            <div class="order-id">
                <h5>Look for an Email Shortly From Bachman's</h5>
                <p>Your Order Confirmation #: <span>{{orderConfirmation.order.ID}}</span></p>
                <p class="next-links">
                    <a href="">Print Order Confirmation</a>
                    <a href="" ng-click="orderConfirmation.continueShopping()">Continue Shopping</a>
                </p>
            </div>
            <div class="registration-form" ng-if="!orderConfirmation.isLoggedIn">
                <div class="before-register">
                    <div class="bgColor-mobile">
                        <p>Want Fast Checkout and Exclusive Access to Discounts and Services?</p>
                        <p class="one-step">Register in One Easy Step.</p>
                        <div class="auto-details">
                            <p class="name">Name <span>{{orderConfirmation.user.Username}}</span></p>
                            <p class="phone">Phone <span>{{orderConfirmation.user.Phone}}</span></p>
                            <p class="email">Email <span>{{orderConfirmation.user.Email}}</span></p>
                        </div>
                        <div class="fill-form">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="enter-password" class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4">Enter Password</label>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <input type="password" class="form-control" id="enter-password" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password" class="control-label col-xs-12 col-sm-12 col-md-4 col-lg-4">Confirm Password</label>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <input type="password" class="form-control" id="confirm-password" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group checkbox-block">
                                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
                                        <div class="checkbox">
                                            <div class="Checkbox">
                                                <input type="checkbox" checked>
                                                <div class="Checkbox-visible"></div>
                                            </div>
                                            <label>Sign Me Up for a Free Purple Perks Membership</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hidden-xs hidden-sm">
                                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
                                        <button type="submit" class="btn btn-block">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group visible-xs visible-sm mobileButton">
                        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
                            <button type="submit" class="btn btn-block">Register</button>
                        </div>
                    </div>
                </div>
                <div class="after-register">
                    <h4>Thank you for registering!</h4>
                    <p class="nav-links">
                        <a href="">Learn About Bachman's History</a>
                        <a href="">Checkout Workshops and Events</a>
                        <a href="">Explore Bachman's Services</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
