<div class="container-fluid plp-page" id="plpPage">
   <div class="row plpBannerPlusHybrid">
      <!-- <div class="breadcrumb-box hidden-lg hidden-md">
         <ul class="breadcrumb">
            <li><a href="index.html">HOME</a> </li>
            <li>PERENNIALS</li>
            <li>GARDEN PERENNIALS</li>
         </ul>
      </div> -->
      <div class="plp-banner">
         <div class="visible-xs visible-sm hidden-md hidden-lg pad-top" ></div>
         <div class="owl-carousel owl-loaded owl-drag" id="plp-carousel-banner">
            <div class="owl-carousel-item">
               <img alt="{{plp.plpBannerTitle}}" src="{{plp.plpBannerImg}}">
               <div class="promo-banner-txt">
                  <!-- <h4 class="">Roses</h4> -->
                  <h4 class="">{{plp.plpBannerTitle}}</h4>
               </div>
            </div>
         </div>
      </div>
       <div class="category-pdt-carousel plp-hybrid-slider">
         <div class="owl-carousel owl-theme" id="owl-carousel-plp-hybrid">
            <div class="owl-carousel-item" ng-repeat="hybridBanner in plp.hybridBanners">
               <div class="category-prod">
                  <img alt="Hybrid Banner" class="" src="{{hybridBanner.contentUrl}}" />
                  <button class="promo-button">{{hybridBanner.description}}</button>
               </div>
               <div class="category-prod-desc">
                  <div class="">
                     <div class="category-prod-desc-web"><p>{{hybridBanner.title}}</p></div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
<div class="row selected-list hidden-xs hidden-sm target">
      <div class="col-sm-9 col-md-10 col-lg-10 left-part"> 
         <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2">
               <h4>Your Selections</h4>
            </div>
            <div class="col-sm-6 col-md-9 col-lg-10 list-items">
               <span class="col-xs-1 col-sm-1 fl catLeftArrow" ng-click="plp.shiftSelectedCategoryLeft()">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 50 90" style="enable-background:new 0 0 50 90;" xml:space="preserve">
                     <style type="text/css">
                        .st0{fill:none;stroke:#8c58b5;stroke-width:8;stroke-miterlimit:10;}
                     </style>
                     <polyline class="st0" points="10,11.7 41.3,46.4 10,81.1 "/>
                  </svg>
               </span>     
               <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9 owl-carousel " id="owl-carousel-selected-cat">
                   <div class="owl-carousel-item" ng-repeat="selectedFacet in plp.Selections" style="display:inline-block" ng-show="!$first">
                     <p>
                        <span>{{selectedFacet.value |capitalize}}</span>
                        <svg version="1.1" ng-click="plp.togglFaceteSelection(selectedFacet.facetname,selectedFacet.value)" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;width:10px;height:10px;color:purple" xml:space="preserve">
                           <g>
                              <g>
                                 <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect>
                              </g>
                              <g>
                                 <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6" ></rect>
                              </g>
                           </g>
                        </svg>
                     </p>
                  </div>
                 
               </div>
               <div class="col-sm-2 col-md-2 col-lg-2 clear-button-block"  ng-if="plp.Selections.length > 0">
                  <button class="clearAll"  ng-click="plp.clearSelection()">Clear All</button>
               </div>
               <span ng-if="plp.Selections.length > 4" class="col-xs-1 col-sm-1 fl catRightArrow" ng-click="plp.shiftSelectedCategoryRight()">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 50 90" style="enable-background:new 0 0 50 90;" xml:space="preserve">
                     <style type="text/css">
                        .st0{fill:none;stroke:#8c58b5;stroke-width:8;stroke-miterlimit:10;}
                     </style>
                     <polyline class="st0" points="10,11.7 41.3,46.4 10,81.1 "/>
                  </svg>
               </span>
            </div>
<!--             <div class="col-sm-2 col-md-2 col-lg-2 clear-button-block"  ng-if="plp.selection.length > 0">
               <button class="clearAll"  ng-click="plp.clearSelection()">Clear All</button>
            </div> -->
         </div>
      </div>
      <div class="col-sm-3 col-md-2 right-part " style="float:right">
         <!-- <h4>SORT BY<span>+</span></h4> -->
         <span class="col-lg-12 col-md-12 col-sm-12" uib-dropdown >
            <a href id="sort-dropdown" uib-dropdown-toggle>
            SORT BY
            </a>
            <p class="sort-active-show">{{plp.selectedItem}}</p>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="sort-dropdown">
               <li role="menuitem" ng-repeat="item in plp.sortItems" ng-click="plp.SortByProducts(item.index, item.label)" ng-class="{active: item.label == plp.selectedItem}">
                  <a data-value="{{item.value}}" href="">{{item.label}}</a>
               </li>
            </ul>
         </span>
      </div>
   </div>
   <div class="row selected-list hidden-xs hidden-sm fixThisBar">
      <div class="col-sm-9 col-md-10 col-lg-10 left-part">
         <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2">
               <h4>Your Selections</h4>
            </div>
            <div class="col-sm-6 col-md-7 col-lg-8 list-items">
              <!--  <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 catLeftArrow" ng-click="plp.shiftSelectedCategoryLeft()"></span>   -->  
               <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 owl-carousel " id="owl-carousel-selected-cat">
                  <div class="owl-carousel-item" ng-repeat="selectedFacet in plp.selection" style="display:inline-block">
                     <p>
                        <span>{{selectedFacet}}</span>
                        <svg version="1.1" ng-click="plp.togglFaceteSelection(selectedFacet,true)" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-26.2 -77.7 33.4 33.4" style="enable-background:new -26.2 -77.7 33.4 33.4;width:10px;height:10px;color:purple" xml:space="preserve">
                           <g>
                              <g>
                                 <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 26.916 -110.851)" class="" width="45.6" height="1.6"></rect>
                              </g>
                              <g>
                                 <rect x="-32.3" y="-61.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -59.351 -97.416)" class="" width="45.6" height="1.6" ></rect>
                              </g>
                           </g>
                        </svg>
                     </p>
                  </div>
               </div>
              <!--  <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 catRightArrow" ng-click="plp.shiftSelectedCategoryRight()"></span> -->
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 clear-button-block"  ng-if="plp.selection.length > 0">
               <button class="clearAll"  ng-click="plp.clearSelection()">Clear All</button>
            </div>
         </div>
      </div>
      <div class="col-sm-3 col-md-2 right-part " style="float:right">
         <span class="col-lg-12 col-md-12 col-sm-12" uib-dropdown >
            <a href id="sort-dropdown" uib-dropdown-toggle>
            SORT BY
            </a>
            <p class="sort-active-show">{{plp.selectedItem}}</p>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="sort-dropdown">
               <li role="menuitem" ng-repeat="item in plp.sortItems" ng-click="plp.changeSortSelection(item.label,$index);" ng-class="{active: $index == plp.selectedMenu}">
                  <a data-value="{{item.value}}" href="">{{item.label}}</a>
               </li>
            </ul>
         </span>
      </div>
   </div>
<div class="row visible-xs visible-sm xs-filter">
   <div class="col-xs-6">
      <div class="btn-group btn-block dropdown" uib-dropdown="" is-open="status.isopen" style="">
         <button id="sort-by-filter" type="button" class="btn btn-primary btn-block dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">          
            <span class="category-name">SORT BY</span>
            <!-- <p class="sort-active-show">{{plp.selectedItem}}</p> -->
         </button>
         <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="sort-by-filter">
            <li role="menuitem" ng-repeat="item in plp.sortItems" ng-click="plp.changeSortSelection(item.label,$index);" ng-class="{active: $index == plp.selectedMenu}">
               <a data-value="{{item.value}}" href="">{{item.label}}</a>
            </li>
         </ul>
      </div>
      <!-- <div class="select-wrapper">
         <select class="btn-group btn-block dropdown">
            <option selected >SORT BY</option>
            <option  ng-repeat="item in plp.sortItems" ng-click="plp.changeSortSelection(item.label,$index);" ng-class="{active: $index == plp.selectedMenu}" ><a data-value="{{item.value}}" >{{item.label}}</a></option>
         </select>
      </div> -->
   </div>
   <div class="col-xs-6">
      <button class="filter-button btn-block" ng-click="plp.filterBtnModal()">FILTER 
         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;position: absolute;height: 13px;width: 13px;right: 10px;top: 10px;" xml:space="preserve">
                  <style type="text/css">
                        .st0 {
                           fill: #fff;
                        }

                     </style>
                     <g>
                        <rect x="11" class="st0" width="3" height="25"></rect>
                        <rect y="11" class="st0" width="25" height="3"></rect>
                     </g>
                  </svg>
      </button>
   </div>
</div>
<!-- <article class="container-fluid">
   <header class="jumbotron text-center">
      <h2>PLP</h2>
      <div ng-repeat=" plp in plp.productList track by $index">
      <a ui-sref="base.pdp({productId:plp.ID})">

      <p>{{plp.Name}}</p>
      <img id="shyam" src= "{{plp.imgContent.contentUrl}}"
      </a>
      <div ng-repeat="pricelist in plp.StandardPriceSchedule.PriceBreaks">
   
      <p>{{pricelist.Price | currency}}</p>
      </div>
      </div>
   </header>
</article> -->

<div class="main-layout row ">
   <div class="col-sm-4 col-md-3 col-lg-3 filter-block hidden-xs hidden-sm algolia-facets">
      <h2>Refine</h2>
           <div class="well well-sm algolia-facet-name"
        ng-repeat-start="facet in plp.CustomFacetList | orderBy:'name'" ng-hide="facet.name == 'Price'"
        ng-init="plp.facetBehavior[facet.name].close = false" ng-click="plp.facetBehavior[facet.name].close = !plp.facetBehavior[facet.name].close">
        {{facet.name}}
        <a class="pull-right" >
          <!-- <i class="fa" ng-class="{'fa-caret-right': algoliaSearchResults.facetBehavior[facet.name].close, 'fa-caret-down': !algoliaSearchResults.facetBehavior[facet.name].close}"></i> -->
          <span ng-class="{'plus': plp.facetBehavior[facet.name].close, 'minus': !plp.facetBehavior[facet.name].close}">
            <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
               <g>
                  <rect x="12" class="" width="3" height="27"></rect>
                  <rect y="12" class="" width="27" height="3"></rect>
               </g>
            </svg>
            <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
               <rect y="10" width="50" height="4"></rect>
            </svg>
          </span>
        </a>
      </div>

      <div class="algolia-facet-selections" ng-repeat-end uib-collapse="plp.facetBehavior[facet.name].close" ng-hide="facet.name == 'Price'" >
        <div ng-class="{'algolia-no-results': !plp.ProductResults.facets[facet.name][val],'curr_cat':val == plp.CurrentCatgory.Name}" ng-repeat="val in facet.list" ng-click="plp.toggleFacet(facet.name, val)" ng-if="facet.name != 'Color'">
          <a><i class="fa" ng-class="{'fa-square': plp.FiltersObject[facet.name] && plp.FiltersObject[facet.name][val], 'fa-square-o': !plp.FiltersObject[facet.name] || !plp.FiltersObject[facet.name][val]}"></i></a> {{val |capitalize}}
        </div>

        <div ng-class="{'algolia-no-results': !plp.ProductResults.facets[facet.name][val],'curr_cat':val == plp.CurrentCatgory.Name}" ng-repeat="val in facet.list" ng-click="plp.toggleFacet(facet.name, val)" ng-if="facet.name == 'Color'" class="color-selection-panel">
          <p ng-class="{'activeCircle': plp.FiltersObject[facet.name] && plp.FiltersObject[facet.name][val], 'inActiveCircle': !plp.FiltersObject[facet.name] || !plp.FiltersObject[facet.name][val]}">
            <span ng-style={"background-color":val} title="{{val}}" class="{{val}}"></span>
          </p>
        </div>

      </div>
<!--       <div class="algolia-facet-selections" ng-repeat-end uib-collapse="plp.facetBehavior[facet.name].close" ng-if="facet.name == 'Color'">
        <div ng-class="{'algolia-no-results': !plp.ProductResults.facets[facet.name][val],'curr_cat':val == plp.CurrentCatgory.Name}" ng-repeat="val in facet.list" ng-click="plp.toggleFacet(facet.name, val)" class="color-selection-panel">
          <p>
            <span ng-style={"background-color":val} title="{{val}}" class="{{val}}"></span>
          </p>
       </div>
      </div> -->
      
      <div class="well well-sm algolia-facet-name" ng-hide="plp.ProductResults.NotEnoughForPricing" ng-click="plp.facetBehavior['price'].close = !plp.facetBehavior['price'].close">
        Price
        <a class="pull-right" >
            <!-- <i class="fa" ng-class="{'fa-caret-right': plp.facetBehavior['price'].close, 'fa-caret-down': !plp.facetBehavior['price'].close}"></i> -->
            <span ng-class="{'plus': plp.facetBehavior['price'].close, 'minus': !plp.facetBehavior['price'].close}">
            <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
               <g>
                  <rect x="12" class="" width="3" height="27"></rect>
                  <rect y="12" class="" width="27" height="3"></rect>
               </g>
            </svg>
            <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
               <rect y="10" width="50" height="4"></rect>
            </svg>
          </span>
        </a>
      </div>
      <div class="algolia-facet-selections price-slider" uib-collapse="plp.facetBehavior['price'].close" ng-hide="plp.ProductResults.NotEnoughForPricing">
        <p class="price-range"><span class="pull-left">$20.99</span><span class="pull-right">$319.99</span></p> 
        <slider ng-model="plp.sliderValue"
          on-stop-slide="plp.changePriceRange()"
          range="true"
          min="plp.ProductResults.facets_stats.Price.floor || plp.ProductResults.facets_stats.Price.min"
          step="plp.step"
          max="plp.ProductResults.facets_stats.Price.ceiling || plp.ProductResults.facets_stats.Price.max"
          value="plp.priceValue"></slider>
      </div>
        <!--  <uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-init="status.open1 = true" is-open="status.open1">
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Category
               </uib-accordion-heading>
               <div class="">
                  <ul>
                     <li>
                        <div class="Checkbox">
                           <input  id="radio1" ng-model="plp.facetName.Annuals" type="checkbox" ng-checked="plp.selection.indexOf('Annuals') > -1" ng-click="plp.togglFaceteSelection('Annuals',false)"  >
                           <div  class="Checkbox-visible"></div>
                        </div>
                        <label for="radio1">Annuals<label>(<span>2456</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input id="radio2" ng-model="plp.facetName.Perennials" type="checkbox"  ng-checked="plp.selection.indexOf('Anuals') > -1" ng-click="plp.togglFaceteSelection('Perennials',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="radio2">Perennials<label>(<span>656</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input  id="radio3" ng-model="plp.facetName.Vines" type="checkbox" ng-checked="plp.selection.indexOf('Vines',false) > -1" ng-click="plp.togglFaceteSelection('Vines',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="radio3">Vines<label>(<span>4356</span>)</label></label>
                     </li>
                  </ul>
                  <a href="" class="view-more-link">View more</a>
               </div>
            </uib-accordion-group>
            <uib-accordion-group ng-init="status.open2 = true" is-open="status.open2">
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Type
               </uib-accordion-heading>
               <div class="">
                  <ul>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  ng-model="plp.facetName.GardenPerennials" id="GardenPerennials" ng-checked="plp.selection.indexOf('GardenPerennials') > -1" ng-click="plp.togglFaceteSelection('GardenPerennials',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="GardenPerennials">GardenPerennials<label>(<span>6533</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox" >
                           <input type="checkbox" id="Vines1" ng-model="plp.facetName.Vines1" ng-checked="selection.indexOf('Vines1') > -1" ng-click="plp.togglFaceteSelection('Vines1',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="Vines1">Vines1<label>(<span>944</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox" id="GroundCovers" ng-model="plp.facetName.GroundCovers"  ng-checked="selection.indexOf('GroundCovers') > -1" ng-click="plp.togglFaceteSelection('GroundCovers',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="GroundCovers">GroundCovers<label>(<span>1668</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  id="Natives" ng-model="plp.facetName.Natives" ng-checked="selection.indexOf('Natives') > -1" ng-click="plp.togglFaceteSelection('Natives',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="Natives">Natives<label>(<span>854</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox" id="Waterplants" ng-model="plp.facetName.Waterplants" ng-checked="selection.indexOf('Waterplants') > -1" ng-click="plp.togglFaceteSelection('Waterplants',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="Waterplants">Waterplants<label>(<span>5784</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox" id="Others" ng-model="plp.facetName.Others" ng-checked="selection.indexOf('Others') > -1" ng-click="plp.togglFaceteSelection('Others',false)" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label for="Others">Others<label>(<span>12356</span>)</label></label>
                     </li>
                  </ul>
                  <!-- <a href="" class="view-more-link">View more</a> --
               </div>
            </uib-accordion-group>
            <uib-accordion-group ng-init="status.open3 = true" is-open="status.open3">
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Plant
               </uib-accordion-heading>
               <div class="">
                  <ul>
                     <li>
                        <div class="Checkbox" >
                           <input type="checkbox"  ng-checked="selection.indexOf('Achillea') > -1" ng-click="plp.toggleSelection('Achillea')"  checked="checked">
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label>Achillea<label>(<span>8493</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  ng-checked="selection.indexOf('Aquilegia') > -1" ng-click="plp.toggleSelection('Aquilegia')" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label>Aquilegia<label>(<span>1485</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  ng-checked="selection.indexOf('Aster') > -1" ng-click="plp.toggleSelection('Aster')" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label>Aster<label>(<span>4233</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  ng-checked="selection.indexOf('Astilbe') > -1" ng-click="plp.toggleSelection('Astilbe')" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label>Astilbe<label>(<span>3385</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  ng-checked="selection.indexOf('Campanula') > -1" ng-click="plp.toggleSelection('Campanula')" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label>Campanula<label>(<span>6374</span>)</label></label>
                     </li>
                     <li>
                        <div class="Checkbox">
                           <input type="checkbox"  ng-checked="selection.indexOf('Coreopsis') > -1" ng-click="plp.toggleSelection('Coreopsis')" >
                           <div class="Checkbox-visible"></div>
                        </div>
                        <label>Coreopsis<label>(<span>1543</span>)</label></label>
                     </li>
                  </ul>
                 <!--  <a href="" class="view-more-link">View more</a> --
               </div>
            </uib-accordion-group>
            <uib-accordion-group ng-init="status.open4 = true" is-open="status.open4">
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Price
               </uib-accordion-heading>
               <div class="price-slider">
                  <!-- <input id="price-slider" type ="range" min ="20.99" max="319.00" step ="1"/> --
                  <p class="price-range"><span class="pull-left">$20.99</span><span class="pull-right">$319.99</span></p>  
                  <p class="price-bar"></p>  
                  <input type="hidden" class="slider-input range-slider slider" value="23" />
               </div>
            </uib-accordion-group>
            <uib-accordion-group ng-init="status.open5 = true" is-open="status.open5">
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Color
               </uib-accordion-heading>
               <div class="color-selection-panel">
               
               <p >
                  <span class=" " style="background-color:#f5977d"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#c5de9e"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#fcc58e"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#fff69f"></span>
               </p>  
               <p>
                  <span class=" " style="background-color:#a4d29e"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#72d0f4"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#488dc8"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#8562a7"></span>
               </p>  
               <p>
                  <span class=" " style="background-color:#84c99e"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#72d0f4"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#FC5F2F"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#7dccc7"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#AB5B6E"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#84c99e"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#f5977d"></span>
               </p>
               <p>
                  <span class=" " style="background-color:#B60103"></span>
               </p>        
               
               </div>
            </uib-accordion-group>
            <uib-accordion-group>
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Florem Ipsum
               </uib-accordion-heading>
               <div class="">
                  Florem Ipsum   
               </div>
            </uib-accordion-group>
            <uib-accordion-group>
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Calalilly Florem
               </uib-accordion-heading>
               <div class="">
                  Calalilly Florem  
               </div>
            </uib-accordion-group>
            <uib-accordion-group>
               <uib-accordion-heading>
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                     <g>
                        <rect x="12" class="" width="3" height="27"></rect>
                        <rect y="12" class="" width="27" height="3"></rect>
                     </g>
                  </svg>
                  <svg class="open" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92" height="92" viewBox="0 0 92 92">
                     <rect y="10"  width="50" height="4"/>
                  </svg>
                  Ipsum Florem
               </uib-accordion-heading>
               <div class="">
                  Ipsum Florem   
               </div>
            </uib-accordion-group>
         </uib-accordion> -->
         <div class="side-promo col-md-11">
            <div class="row side-ban-1">
               <!-- <img src="{{plp.needHelp}}}"> -->
               <!-- <img src="assets/images/Batch_2_Web_Images/04Bachmans_PLP/x.jpg"> -->
               <span ng-include="plp.plp_promo_svgDesign"></span>
               <div class="desc-text">
                  <!-- <h3>NEED SOME HELP?</h3>
                  <p>Find Care, Advice & Information <br> from Bachman's Experts</p> -->
                  <h3>{{plp.needHelpTitle}}</h3>
                  <p>{{plp.needHelpDescription}}</p>
               </div>
            </div>
            <div class="row side-ban-2">
               <img alt="promo" src="{{plp.leftPromo}}">
               <!-- <img src="assets/images/Batch_2_Web_Images/04Bachmans_PLP/y.jpg"> -->
              <!--  <div class="desc-text">
                  <button>SHOP VALENTINE'S FLOWERS</button>
               </div> -->
            </div>
            <div class="row side-ban-3">
               <!-- <img src="assets/images/Batch_2_Web_Images/04Bachmans_PLP/w.png"> -->
               <?xml version="1.0" encoding="utf-8"?>
               <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
               <div class="desc-text row">
                  <span ng-include="plp.giftCard" class="col-xs-12 col-sm-12 col-md-12 col-lg-4 p0"></span>
                  <div class="desc-text-right col-xs-12 col-sm-12 col-md-12 col-lg-8 p0">
                     <!-- <h5>Make Someone's Day</h5>
                     <p>BUY A GIFT CARD</p> -->
                     <h5>{{plp.giftCardTitle}}</h5>
                     <p>{{plp.giftCardDescription}}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 product-block">

      
  

   <div class="feature-products">
      
   <div class="row">
      <div class="owl-carousel" id="owl-carousel-feature-products">
        <div ng-repeat="groupedProducts in plp.productList track by $index">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 product-container" ng-mouseover="hoveringButtons = true; plusLabel= true" ng-mouseleave="hoveringButtons = false; plusLabel= false">
               <div class="product-box">

                  <div ng-repeat="prod in groupedProducts  track by $index">
                     <div ng-if="prod.xp.IsDefaultProduct == 'true' || prod.xp.IsDefaultProduct == true" class="prodImagewrap" data-sequence="{{prod.xp.SequenceNumber}}" data-prodid="{{prod.ID}}">
                        <div id="feature-label" class="feature-label">
                           <div class="ribbon-wrapper">
                              <div class="ribbon-front">
                                 <p>Featured</p>
                              </div>
                           </div>
                        </div>
                       <!--  <img ng-model="prodImage" ng-click="plp.detailsPage($event);" ng-src= "{{prod.xp.BaseImageUrl}}"/>
                        <div class="price-box">
                           <p class="product-name-plp" ng-click="plp.detailsPage($event);"><span>{{prod.xp.BaseProductTitle | capitalize}}</span></p>
                           <p class="Price">{{prod.priceRange}}</p>
                        </div> -->
                        <img ng-model="prodImage" alt="{{prod.Name | capitalize}}" ng-click="plp.detailsPage($event);" ng-src= "{{prod.imgcontent.contentUrl}}"/>
                        <div class="price-box">
                          <p class="product-name-plp" ng-click="plp.detailsPage($event);"><span>{{prod.Name | capitalize}}</span></p>
                          <p class="Price">{{prod.priceRange}}</p>
                        </div>
                        <!-- hover buttons -->
                        <div class="hover-buttons col-xs-12 col-sm-12 col-md-12 col-lg-12  " ng-show="hoveringButtons">
                           <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 green-btn-outer">
                                 <input type="button" class="green-btn btn" value="ADD TO CART" ng-click="plp.detailsPage($event);">
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                 <p class="grey-btn btn" ng-click="plp.wishlistModal()">ADD TO WISHLIST</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <prod-colors product="groupedProducts"></prod-colors>
                   
                   <ordercloud-product-quick-view product="groupedProducts" ng-show="plusLabel"></ordercloud-product-quick-view>

                  </div>
               </div>
            </div>
      </div>  
   </div>
       <div class="row feature-product-text">
       <h3>FEATURED PRODUCTS</h3>
      </div>  
   </div>
   <div class="row sorted-products">
         <div ng-repeat="groupedProducts in plp.productList">
               <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-3 product-container" ng-mouseover="hoveringButtons = true; plusLabel= true" ng-mouseleave="hoveringButtons = false; plusLabel= false" style="">
                  <div class="product-box">
                    
                     <div ng-repeat="prod in groupedProducts  track by $index">

                       <div ng-if="prod.xp.IsDefaultProduct == 'true' || prod.xp.IsDefaultProduct == true" class="prodImagewrap" data-sequence="{{prod.xp.SequenceNumber}}" data-prodid="{{prod.ID}}">

                           <div id="feature-label" class="feature-label">
                              <div class="ribbon-wrapper">
                                 <div class="ribbon-front">
                                    <p>New</p>
                                 </div>
                              </div>
                           </div>
                           <img ng-model="prodImage" alt="{{prod.Name | capitalize}}" ng-click="plp.detailsPage($event);" ng-src= "{{prod.imgcontent.contentUrl}}"/>
                           <div class="price-box">
                              <p class="product-name-plp" ng-click="plp.detailsPage($event);"><span>{{prod.Name | capitalize}}</span></p>
                              <p class="Price">{{prod.priceRange}}</p>
                           </div>
                           <!-- hover buttons -->
                           <div class="hover-buttons col-xs-12 col-sm-12 col-md-12 col-lg-12 " ng-show="hoveringButtons">
                              <div class="row">
                                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 green-btn-outer">
                                    <input type="button" class="green-btn btn" value="ADD TO CART" ng-click="plp.detailsPage($event);">
                                 </div>
                                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <p class="grey-btn btn" ng-click="plp.wishlistModal()">ADD TO WISHLIST</p>
                                 </div>
                              </div>
                           </div>
                       </div>
                    </div>
                  <prod-colors product="groupedProducts"></prod-colors>
                   
                   <ordercloud-product-quick-view product="groupedProducts" ng-show="plusLabel"></ordercloud-product-quick-view>
                   
                  </div>
               </div> 
         </div>
         
         
         </div>
        <div class="row pagination-block">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
            <pagination total-items="plp.totalItems" ng-model="plp.currentPage" ng-change="plp.pageChanged()" class="pagination-sm" items-per-page="plp.itemsPerPage" max-size="plp.maxSize" boundary-link-numbers="true"  next-text="Next" previous-text="Previous" ></pagination>
          </div>
        </div>
        <div class="pagination-container">
          <uib-pagination
          total-items="plp.ProductResults.nbHits"
          ng-model="plp.currentProductPage"
          ng-change="plp.changePage()"
          class="pagination-sm"
          rotate="true"
          previous-text="Previous Page "
          next-text="Next Page"
          boundary-link-numbers="true"
          num-pages="plp.ProductResults.nbPages">
          </uib-pagination>
        </div>
   </div>
</div>

</div>


