<div class="container-fluid address-container address-book-container credit-Card-Container">
    <div class="row credit-card-headerTitle">
        <p class="my-account-content-title">Credit Cards</p>
        <div class="add-button col-md-3 col-lg-3 hidden-xs hidden-sm">
            <button type="button" class="btn" ng-click="creditCards.newCardInput()"> + Add New Card</button>
        </div>
    </div>
    <div class="row credit-card-list-cont not-default">

        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 credit-card-list-item">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 default-payment">
                <p class="title">Default Payment</p>
                <div class="Checkbox">
                  <input type="radio" checked name="rad">
                  <div class="Checkbox-visible"></div> 
               </div>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-1 col-lg-1 visa">
                <img src="../../assets/images/batch4web/creditcard/Visa.png" class="visa-icon" />
            </div>
            <div class="col-xs-10 col-sm-4 col-md-3 col-lg-3 cr-card-num">
                <p class="title">Card Number</p>
                <p class="addr-line1">XXXX XXXX XXXX {{creditCards.Defaultlist.PartialAccountNumber}}</p>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-2 col-lg-3 cr-card-name">
                <p class="title">Cardholder's Name</p>
                <p class="value">{{creditCards.Defaultlist.CardholderName}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 expiry-date">
                <p class="title">Expiration Date</p>
                <p class="value">{{creditCards.Defaultlist.ExpirationDate | date: 'MM/yyyy' : 'UTC' }}</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 edit-options">
                <a href="#">Edit</a>
                <span class="link-sep">|</span>
                <a href="#">Delete</a>
            </div>
        </div> -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 credit-card-list-item" ng-repeat="card in creditCards.list | limitTo: card.id">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 default-payment">
                <p class="title" ng-if="creditCards.defaultUserCardID==card.ID">Default Payment</p>
                <p class="title" ng-if="creditCards.defaultUserCardID!=card.ID">Make Default Payment</p>
                <div class="Checkbox">
                  <input type="radio" ng-model="creditCards.defaultUserCardID" name="rad" ng-click="creditCards.makedefaultcard(card.ID)" value="{{card.ID}}">
                  <div class="Checkbox-visible"></div> 
               </div>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-1 col-lg-1 visa">
                <img src="../../assets/images/batch4web/creditcard/Visa.png" class="visa-icon" />
            </div>
            <div class="col-xs-10 col-sm-4 col-md-3 col-lg-3 cr-card-num">
                <p class="title">Card Number</p>
                <p class="addr-line1">XXXX XXXX XXXX {{card.PartialAccountNumber}}</p>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-2 col-lg-3 cr-card-name">
                <p class="title">Cardholder's Name</p>
                <p class="value">{{card.CardholderName}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 expiry-date">
                <p class="title">Expiration Date</p>
                <p class="value">{{card.ExpirationDate | date: 'MM/yyyy' : 'UTC' }}</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 edit-options">
                <a href="#" ng-click="creditCards.editCardInput(card)">Edit</a>
                <span class="link-sep">|</span>
                <a href="#" ng-click="creditCards.deleteCard(card)">Delete</a>
            </div>
        </div>
    </div>
    <!-- For Input Card Information STARTS -->
    <div class="row" ng-hide="!creditCards.newcreditcard" id="bottom">
        <div class="col-xs-12 add-new-credit-card-cont p0">
            <p class="title">Input Card Information</p>
            <div class="add-new-card-div">
                <form class="add-new-card-form ng-pristine ng-valid" ng-submit="creditCards.createCard()" name="CreditCardCreateForm" role="form" novalidate="">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p0 card-info">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group holder-name">
                            <label for="cardHoldName">Cardholder's Name</label>
                            <input type="text" class="form-control" id="cardHoldName" placeholder="Enter Card Holder Name" ng-model="creditCards.card.CardholderName"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group card-type">
                            <label for="cardType">Card Type</label>
                            <select class="form-control" id="cardType" ng-model="creditCards.card.CardType" required>
                                <option value="">Select a Card Type</option>
                                <option value="Visa">Amex</option>
                                <option value="Visa">Discover</option>
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">MasterCard</option>
                                <option value="AmericanExpress">American Express</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group card-number">
                            <label for="cardNum">Card Number</label>
                            <input type="text" maxlength="15" card-validation ng-minlength="15" class="form-control" placeholder="Enter Card Number" id="cardNum" ng-model="creditCards.card.CardNumber" required>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group exp-date">
                            <label for="expDate">Expiration Date</label>
                            <select class="form-control" id="month" placeholder="MM" ng-model="creditCards.card.ExpMonth" required>
                                <option value="">Month</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select class="form-control" id="year" placeholder="YY" ng-model="creditCards.card.ExpYear" 
                            required ng-click="creditCards.YearDropDown()" ng-options="y for y in creditCards.years"> 
                            //<option value="">Year</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group card-number">
                            <label for="cardCVV">Card CVV</label>
                            <input type="text" card-validation ng-minlength="3" maxlength="3" placeholder="Enter CVV Number" class="form-control" id="cardCVV" ng-model="creditCards.card.CVV" required>
                        </div>
                    </div>
                    <div class="col-xs-12 p0 nav-buttons">
                        <div class="col-xs-12 form-group navig-btns">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 savebtn">
                                <button type="submit" class="btn purple-btn" ng-disabled="CreditCardCreateForm.$invalid">Save</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cancelbtn">
                                <button type="button" class="btn gray-btn" ng-click="creditCards.newcreditcard = !creditCards.newcreditcard; creditCards.card = null">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- For Input Card Information ENDS -->
    <!-- For Input Card Edit STARTS -->
    <div class="row" ng-hide="!creditCards.editcreditcard">
        <div class="col-xs-12 add-new-credit-card-cont p0">
            <p class="title">Update Card Information</p>
            <div class="add-new-card-div">
                <form class="add-new-card-form ng-pristine ng-valid" ng-submit="creditCards.updateCard()" name="CreditCardEditForm" role="form" novalidate="">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p0 card-info">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group holder-name">
                            <label for="cardHoldNameEdit">Cardholder's Name</label>
                            <input type="text" class="form-control" id="cardHoldNameEdit" placeholder="Name" ng-model="creditCards.card.CardholderName"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group card-type">
                            <label for="cardType">Card Type</label>
                            <select class="form-control" id="cardType" ng-model="creditCards.card.CardType" required>
                                <option value="Select">Select</option>
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">MasterCard</option>
                                <option value="AmericanExpress">American Express</option>
                            </select>
                        </div>{{creditCards.card.CardNumber}}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group card-number">
                            <label for="cardNum">Card Number</label>
                            <input type="text" maxlength="16" minlength="15" class="form-control" id="cardNum" ng-model="creditCards.card.CardNumber" required>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group exp-date">
                            <label for="expDate2">Expiration Date</label>
                            <select class="form-control" id="monthEdit" placeholder="MM" ng-model="creditCards.card.ExpMonth" required>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select class="form-control" id="yearEdit" placeholder="YY" ng-model="creditCards.card.ExpYear" required>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group card-number">
                            <label for="cardCVV">Card CVV</label>
                            <input type="text" card-validation ng-minlength="3" maxlength="4" class="form-control" id="cardCVV" ng-model="creditCards.card.CVV" required>
                        </div>
                    </div>
                    <div class="col-xs-12 p0 nav-buttons">
                        <div class="col-xs-12 form-group navig-btns">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 savebtn">
                                <button type="submit" class="btn purple-btn" ng-disabled="CreditCardEditForm.$invalid">Save</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cancelbtn">
                                <button type="button" class="btn gray-btn" ng-click="creditCards.editcreditcard = !creditCards.editcreditcard; creditCards.card = null">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="add-new-card-div">
                <form class="add-new-card-form ng-pristine ng-valid" ng-submit="creditCards.updateCard()" name="CreditCardEditForm" role="form" novalidate="">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p0 card-info">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group holder-name">
                            <label for="cardHoldNameEdit">Cardholder's Name</label>
                            <input type="text" class="form-control" id="cardHoldNameEdit" placeholder="Name" ng-model="creditCards.card.CardholderName"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group exp-date">
                            <label for="expDate2">Expiration Date</label>
                            <select class="form-control" id="monthEdit" placeholder="MM" ng-model="creditCards.card.ExpMonth" required>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                            </select>
                            <select class="form-control" id="yearEdit" placeholder="YY" ng-model="creditCards.card.ExpYear" required>
                                <option>2016</option>
                                <option>2016</option>
                                <option>2016</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 p0 nav-buttons">
                        <div class="col-xs-12 form-group navig-btns">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 savebtn">
                                <button type="submit" class="btn purple-btn" ng-disabled="CreditCardEditForm.$invalid">Save</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cancelbtn">
                                <button type="button" class="btn gray-btn" ng-click="creditCards.editcreditcard = !creditCards.editcreditcard; creditCards.card = null">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
    <!-- For Input Card Edit ENDS -->
</div>
</div>