
<div class="container-fluid my-account-my-profile">
	<div class="my-account-menu-content-aside">
		<p class="my-account-content-title">My Profile</p>
		<div class="my-profile-container row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-profile-logininfo-container fl">
				<h2>Login Information</h2>
				<div class="col-xs-12 my-profile-emailinfo p0">
					<h3>Email</h3>
					<h4>{{profile.profileData.Email}}</h4>
					<h5 ng-click="changeemail=!changeemail">Change Email</h5>
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my-profile-changeemail" ng-show="changeemail">
						<form class="change-email-form" name = "changeEmailForm" novalidate>
							<div class="form-group">
								<label>Enter New Email</label>
				            	<input type="email" ng-model="profile.change_email" class="form-control" autocomplete="off"  ng-required="true"  ng-model-options="{updateOn: 'blur'}" custom-email-validation />
			            	</div>
			            	<div class="form-group">
				           		<button type="submit" ng-disabled="changeEmailForm.$invalid" ng-class="{'disabledbtn': changeEmailForm.$invalid }" class="btn purple-btn changemail-save col-xs-6" ng-click = "profile.changeEmail()">Save</button>
				        		<button type="button" class="btn gray-btn changemail-cancel col-xs-6" ng-click="changeemail=!changeemail">Cancel</button>
				        	</div>
		        		</form>
					</div>
				</div>
				<div class="my-profile-changepassword">
					<h3>Password</h3>
					<h4>&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;&#x25CF;</h4>
					<h4>{{login.credentials.Password.length}}</h4>
					<h5 ng-click='changepassword=!changepassword'>Change Password</h5>
					<div class="accPro-ChangePwd col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-show="changepassword">
						<form name="ChangePasswordForm">
			                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group current-pwd">
					           	<label>Current Password</label>
					            <input type="password" class="form-control" ng-model="profile.currentUser.CurrentPassword" ng-required="true" ng-model-options="{updateOn: 'blur'}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%_@#£€*?&]{8,}$" pattern-err-type="customPassword"/>
					        </div>
					        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group new-pwd">
					            <label>New Password</label>
					            <input type="password" class="form-control"  ng-model="profile.currentUser.NewPassword" ng-required="true"  ng-model-options="{updateOn: 'blur'}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%_@#£€*?&]{8,}$" pattern-err-type="customPassword"/>
					        </div>
					        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group confirm-pwd">
					            <label>Confirm Password</label>
					            <input type="password" class="form-control" ng-model="profile.currentUser.ConfirmPassword" ng-required="true" ng-model-options="{updateOn: 'blur'}"  confirm-password="profile.currentUser.NewPassword"/>
					        </div>
			        		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group changePwdBtns">
			        			<div class="col-xs-6 savebtn">
				      	 		<button type="submit" ng-disabled="ChangePasswordForm.$invalid" ng-class="{'disabledbtn': ChangePasswordForm.$invalid }" class="btn purple-btn col-xs-6" ng-click="profile.changePwd()">Save</button>
				      	 		</div>
				      	 		<div class="col-xs-6 cancelbtn">
				        		<button type="button" class="btn gray-btn col-xs-6" ng-click='changepassword=!changepassword'>Cancel</button>
				        		</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my-profile-contactinfo-container fr">
				<h2>Contact Information</h2>
				<div class="hideshowdiv" ng-class="{hidea:a}">
					<h3>Name</h3>
					<h4 class="tt-caps">
						{{profile.profileData.FirstName}}
						{{profile.profileData.LastName}}
					</h4>

					<h3>Address</h3>
					<h4>
						<span class="disp-block tt-caps">{{profile.profileData.Street1}} </span>
					    <span class="disp-block tt-caps">{{profile.profileData.Street2}} </span>
					    <span class="tt-caps">
					    	 {{profile.profileData.City}}
					    	 {{profile.profileData.State}}
					    	 {{profile.profileData.Zip}}
					    </span>
					</h4>
					<h3>Phone Number</h3>	
					<h4 class="ph-value">{{profile.profileData.Phone}}</h4>
					<h5 class="prof-edit-link" ng-click="profile.addresscont(profile.profileData); a=!a;">Edit</h5>
				</div>
				<!-- For Edit personal info page starts -->
				<form name="editcontact">
				<div class="accPro-Edit-Wrap col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="a">
					<p class="accPro-edit-title">Edit Information</p>
					<div class="accPro-Edit-Content col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
								<label for="nickName">Nickname</label>
								<input type="text" class="form-control" id="nickName">
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" ng-model="profile.userData.FirstName">
                        </div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" ng-model="profile.userData.LastName">
                        </div>
					</div>
					<div class="accPro-Edit-Content col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<label for="address">Address 1</label>
							<input type="text" class="form-control" id="address" ng-model="profile.userData.Street1">
						</div>
					</div>

					<div class="accPro-Edit-Content col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<label for="addr2">Address 2</label>
							<input type="text" class="form-control" id="addr2" ng-model="profile.userData.Street2">
						</div>
					</div>
					<div class="accPro-Edit-Content col-xs-6 col-sm-6 col-md-10 col-lg-10">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
							<label for="zipCode">ZIP Code</label>
							<input type="text" class="form-control" id="zipCode" ng-model="profile.userData.Zip" ng-blur="profile.getZip(profile.userData.Zip)">
						</div>
					</div>
					<div class="accPro-Edit-Content col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
							<label for="city">City</label>
							<input type="text" class="form-control" id="city" ng-model="profile.userData.City">
						</div>


						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
							<label for="state">State</label>
							<input type="text" class="form-control" id="state" ng-model="profile.userData.State">
						</div>
					</div>
					<div class="accPro-Edit-Content col-xs-12 col-sm-12 col-md-10 col-lg-10">
							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 form-group ph-number-group">
	                            <label for="ph_no" class="ph_num">Phone Number</label>
	                           		<div class="row phone-txt">
									<div class="col-sm-4 col-md-4 col-xs-4"><input type="text" phone-validation ng-minlength="3" maxlength="3" class="form-control"  ng-model="profile.profileData.Phone1" ng-keypress="profile.IsPhone($event)" ></div>
									<div class="col-sm-4 col-md-4 col-xs-4"><input type="text" phone-validation ng-minlength="3" maxlength="3" class="form-control"  ng-model="profile.profileData.Phone2" ng-keypress="profile.IsPhone($event)" ></div>
									<div class="col-sm-4 col-md-4 col-xs-4"><input type="text" phone-validation ng-minlength="4" maxlength="4" class="form-control"  ng-model="profile.profileData.Phone3" ng-keypress="profile.IsPhone($event)" ></div>
								</div>
							</div>
	                    </div>
					<div class="accPro-Edit-Content col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="col-xs-12 form-group shipping-checkbox">
							<div class="Checkbox">
								<input type="checkbox" id="ship-addr-chkb" ng-model="userData.IsShipping" />
								<div class="Checkbox-visible"></div>
							</div>
							<label class="ship-addr-label" for="ship-addr-chkb">Shipping Address</label>
						</div>
						<div class="col-xs-12 form-group billing-checkbox">
							<div class="Checkbox">
								<input type="checkbox" id="bill-addr-chkb" ng-model="userData.IsBilling" />
								<div class="Checkbox-visible"></div>
							</div>
							<label class="bill-addr-label" for="bill-addr-chkb">Billing Address</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 form-group acc-Pro-Edit-Btns">
                        <div class="col-xs-6 savebtn">
                            <button type="button" class="btn purple-btn col-xs-6" ng-disabled="editcontact.$invalid" ng-click="profile.saveaddresscont(); a=!a;">Save</button>
                        </div>
                        <div class="col-xs-6 cancelbtn">
                            <button type="button" class="btn gray-btn col-xs-6" ng-click="profile.editaddress=!profile.editaddress; a=!a;">Cancel</button>
                        </div>
                    </div>

				</div>
			</form>
				<!-- For Edit personal info page Ends -->
			</div>
		</div>
	</div>
</div>
