<div class="container-fluid my-account-purple-perks">
	<div class="">
		<p class="my-account-content-title">Bachman's Charge</p>
		<div class="purple-perks-container">
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">{{bachmanscharge.bcharge[0].Balance  | currency}}</p>
				<p class="purple-perk-description text-center">Credit Balance</p>
			</div>
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">{{bachmanscharge.bcharge[0].xp.LimitPerTransaction  | currency}}</p>
				<p class="purple-perk-description text-center">Credit Limit</p>
			</div>
			<p class="purple-perks-disclaimer">Member Since <b>{{bachmanscharge.bcharge[0].StartDate | date:'longDate'}}</b></p>
			<p class="purple-perks-disclaimer">If you have any further queries on Bachman's Charge, please call our Order Center at <b>612-861-7311</b> to inquire
			</div>
	</div>
</div>
