<div class="container-fluid my-account-email-subscription">
    <div class="Email-Preferences-container">
        <p class="my-account-content-title">Email Preferences
			<span class="bachman-chevron hidden-md hidden-lg chevron bottom"></span>
		</p>
        <div class="email-subscription-container">
            <div class="email-header">Email Subscriptions</div>
            <div class="email-lists form-group">
                    <div class="Checkbox" ng-repeat="email in EmailSubscription.emailsubscribe " ng-click="">
                        <input type="checkbox" id="email_chk">
                        <div class="Checkbox-visible"></div>
                        <label for="email_chk">{{email.name}}</label> 
                    </div>
                </div>
            <div class="save-button">
            	<button>save</button>
            </div>
        </div>
    </div>
</div>
