<div class="container-fluid my-account-purple-perks" ng-show="Purpleperk.purpleperkExist">
	<div class="">
		<p class="my-account-content-title">Purple Perks</p>
		<div class="purple-perks-container">
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">{{Purpleperk.purpleperk.xp.PointsEarned}}</p>
				<p class="purple-perk-description text-center">Points earned today will be reflected within 24 hours</p>
			</div>{{vm.purpleperk}}
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">{{Purpleperk.purpleperk.xp.EarnedToDate | currency}}</p>
				<p class="purple-perk-description text-center">Purple Perks Dollars Available</p>
			</div>
			<p class="purple-perks-disclaimer">You can use Purple Perks Dollars at the time of checkout</p>
			<p class="purple-perks-disclaimer">Your reward dollars will expire on December 31st, 2016. For more information on Purple Perks and Frequently Asked Questions, <a ui-sref="account.perpleperksAccount.perpleperkreg" class="link">Click here</a>.</p>
		</div>
	</div>
</div>
<div ng-show="Purpleperk.purpleperkDoesNotExist">
	<p>user does not have purpleperk account</p>
</div>