<div class="container-fluid my-account-purchase-order">
	<div class="">
		<p class="my-account-content-title">Purchase Order</p>
		<div class="purple-perks-container">
			<div class="purple-perk-item">
				<p class="purple-perk-title text-center">{{purchaseorder.purchaseorderid}}</p>
				<p class="purple-perk-description text-center">Purchase Order Number</p>
			</div>
			<p class="purple-perks-disclaimer">If you have any further queries on Purchase Order, please call our Order Center at <b>612-861-7311<b> to inquire.</p>
		</div>
	</div>
</div>