<div ng-show="isOpen()"
     class="dropdown-menu custom-popup-wrapper algolia-search-popup"
     aria-hidden="{{!isOpen()}}"
     ng-style="{top: position().top+'px', left: position().left+'px', right:'30px'}"> <!--border all around-->
    <div class="row algolia-popup-container">
        <div class=" col-md-12 col-lg-12 typeahead-left"> <!--border right, min-height -->
            <ul class="dropdown-menu" role="listbox">
                <li ng-repeat="match in matches | IndexType:'products' track by $index"
                    ng-class="{active: isActive($index) }"
                    role="option"
                    id="{{::match.id}}">
                    <a ng-click="$parent.$parent.selectMatch(match)">
                        <h6 ng-bind-html="match.model._highlightResult.Name.value | limitTo:30"></h6>
                    </a>
                </li>
            </ul>
        </div>
        <div class=" col-md-12 col-lg-12 typeahead-right">
            <div class="typeahead-right-upper section-header"> <!--border-bottom-->
                <div>
                    <h5>Products</h5>
                </div>
                <div class="btn-header">
                    <button type="button" class="btn btn-default">SEE ALL</button>
                </div>
            </div>
            <span class="col-xs-1 col-sm-1 fl catLeftArrow">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 90" style="enable-background:new 0 0 50 90;" xml:space="preserve">
                    <style type="text/css">
                        .stArw{fill:none;stroke:#8c58b5;stroke-width:8;stroke-miterlimit:10;}
                    </style>
                    <polyline class="stArw" points="10,11.7 41.3,46.4 10,81.1 "/>
                </svg>
            </span>
            <div class="row typeahead-right-lower owl-carouse " id="owl-carousel-searc">
                <div class="hidden-xs hidden-sm col-xs-3 col-sm-3 col-md-6 col-lg-6 thumbnail-selection"
                    ng-repeat="match in matches | IndexType:'products' | limitTo:4 track by $index">
                    <div class="thumbnail">
                        <div class="img-div">
                            <img ng-click="$parent.$parent.selectMatch(match)" ng-src="{{match.model.Image}}" >
                        </div>
                        <div class="caption">
                            <h6><span>{{match.model.Name}}</span></h6>
                            <span>{{match.model.Price}}</span>
                        </div>

                    </div>
                </div>
                <div class="visible-xs visible-sm media col-xs-6 col-sm-6 thumbnail-selection"
                    ng-repeat="match in matches | IndexType:'products' | limitTo:9 track by $index">
                    <div class="media-left thumbnail p0">
                        <div class="img-div">
                            <img ng-click="$parent.$parent.selectMatch(match)" class="media-object" ng-src="{{match.model.Image}}">
                        </div>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"><span>{{match.model.Name}}</span></h6>
                        <span>{{match.model.Price}}</span>
                    </div>
                    <!-- <hr> -->
                </div>
            </div>
            <span class="col-xs-1 col-sm-1 fl catRightArrow" >
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 50 90" style="enable-background:new 0 0 50 90;" xml:space="preserve">
                        <style type="text/css">
                            .stArw{fill:none;stroke:#8c58b5;stroke-width:8;stroke-miterlimit:10;}
                        </style>
                    <polyline class="stArw" points="10,11.7 41.3,46.4 10,81.1 "/>
                </svg>
            </span>
        </div>
    </div>
    <div class="col-xs-12 typeahead-bottom"> <!--border top-->
        <div class="typeahead-bottom-upper section-header">
            <div>
                <h5>Information</h5>
            </div>
            <div class="btn-header">
                <button type="button" class="btn btn-default">SEE ALL</button>
            </div>
        </div>
        <div class="typeahead-bottom-lower">
            <div class="info-selection" ng-repeat="match in matches | IndexType:'information' track by $index" ng-click="$parent.$parent.selectArticle(match)">
                <h6>{{match.model.Title}}</h6>
                <p class="info-result" ng-bind-html="match.model._highlightResult.Content.value | limitTo:290"></p>
            </div>
        </div>
    </div>
</div>
