<div class="general-static-block container-fluid p0" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}"  id="tempArticleContainer">

	<div class="container-fluid p0 purple">
		<div class="breadcrumb-box breadcrumbStatic">
			<!--<ul class="breadcrumb">
				<li><a href="index.html">HOME</a> </li>
				<li class="text-ellipsis">CARE, ADVICE & INFORMATION </li>
				<li>CARE GUIDES & INFORMATION</li>

			</ul>-->

		</div>
		<div class="banner-img" ng-if="template.bannerHideArticle">
			<!--<img src="http://103.227.151.37:8080/alfresco/d/a/workspace/SpacesStore/2e34e2c3-5065-4791-88cd-b61bc73eac0e/08_Care_Advice_Information_Landing_banner.png?a=true" class="hidden-xs hidden-sm">
			<img src="http://103.227.151.37:8080/alfresco/d/a/workspace/SpacesStore/eb629c2f-ef33-4eda-9b4b-fa24ca8971d7/mobile-08_Care_Advice_Information_Landing_banner.png?a=true" class="hidden-md hidden-lg">
			<div class="banner-title">
				<h4>{{template.mainCatName}}</h4>
			</div>-->
		</div>
	</div>

	<div class="container careadvice-container">


		<!-- Sidebar -->
		<div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm" id=" sidebar-wrapper">
            <div class="receipient-details hidden-xs hidden-sm" ng-repeat="folder in base.ListOfPages" ng-if="folder.nodeType == 'ws:section' && folder.fileName =='CareAdviceInformation'" ng-init="template.tabSetdata(folder)">

                <div class="first-head">
                    {{folder.title}}
                </div>
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="$index==template.isOpen" ng-repeat="subfolder in folder.subfolders" ng-if="subfolder.nodeType == 'ws:section' && subfolder.title !=''">
                        <uib-accordion-heading>
                            <svg class="close" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24"
                                 height="24" viewBox="0 0 24 24" ng-if="subfolder.subfolders.items.length>3">
                                <g>
                                    <rect x="10" width="4" height="24"/>
                                    <rect y="10" width="24" height="4"/>
                                </g>


                            </svg>
                            <svg class="open" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92"
                                 height="92" viewBox="0 0 92 92" ng-if="subfolder.subfolders.items.length>3">
                                <rect y="10" width="50" height="8"/>

                            </svg>
                            <span ng-click="template.populateTabs(folder,subfolder,$index,$event)">{{subfolder.title}}</span>
                        </uib-accordion-heading>
                        <div class="receipient-drpDown">
                            <ul>
                                <li ng-repeat="subsubFolder in subfolder.subfolders.items" ng-if="subsubFolder.nodeType == 'ws:section' && subsubFolder.title !=''">
                                    <a ng-click="template.bannerHideArticle = true;template.getThingsFromALfresco(subfolder.fileName,subsubFolder,$index)"  ng-style="template.activeTab === subsubFolder.title ? { 'color':'#8c58b5'} : {}">
                                      {{subsubFolder.title}}
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </uib-accordion-group>
<!--
                    <uib-accordion-group ng-repeat="folder in base.ListOfPages" ng-if="folder.nodeType == 'ws:section' && folder.title !='' && $index !=0">
                        <uib-accordion-heading>
                            <svg class="close" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24"
                                 height="24" viewBox="0 0 24 24">
                                <g>
                                    <rect x="10" width="4" height="24"/>
                                    <rect y="10" width="24" height="4"/>
                                </g>


                            </svg>
                            <svg class="open" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="92"
                                 height="92" viewBox="0 0 92 92">
                                <rect y="10" width="50" height="8"/>

                            </svg>
                            <span ng-click="template.populateTabs(folder,folder.subfolders,$index)">{{folder.title}}</span>
                        </uib-accordion-heading>
                        <div class="receipient-drpDown">
                            <ul>
                                <li ng-repeat="subFolder in folder.subfolders.items" ng-if="subFolder.nodeType == 'ws:section' && subFolder.title !=''">
                                    <a ng-click="template.getThingsFromALfresco(folder.fileName,subFolder.fileName,$index)">
                                        {{subFolder.title}}
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </uib-accordion-group>
-->
                </uib-accordion>

</div>
            <ul class="related-articles hidden-xs hidden-sm" ng-if="relatedArticles && relatedArticles.length > 0">

              <div class="first-head">
                  Related articles
              </div>

              <li ng-repeat="article in relatedArticles" ng-click="template.relatedArticlesLinks(article)">
                  <a href="#">{{article.properties.title}}</a>
              </li>
              <!--<li>
                  <a href="#">Orthos Guide to successful Houseplant</a>
              </li>
              <li>
                  <a href="#">Batchman's Information Sheet Favourite Blooming Plants</a>
              </li>
              <li>
                  <a href="#">Batchman's Information Sheet General Care for Indoor Plants</a>
              </li>
              <li>
                  <a href="#">Batchman's Information Sheet Watering Basics for Indoor Plants</a>
              </li>-->

          </ul>
</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
        <ui-view>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 p0" id=" page-content-wrapper">
			<div class="container-fluid">
				<div class="row right-content">
				<div class="mobile-receipient-details hidden-md hidden-lg">
                        <uib-accordion>
                            <uib-accordion-group is-open="status.openfaqs" ng-repeat="folder in base.ListOfPages" ng-if="folder.nodeType == 'ws:section' && folder.fileName =='CareAdviceInformation'" ng-init="template.tabSetdata(folder)">
                                <uib-accordion-heading>
                                    <p ng-class="{'footer-minus': status.openfaqs, 'footer-plus': !status.openfaqs}">
                                        {{template.mainCatName}}</p>
                                </uib-accordion-heading>
                                <div class="head-title" ng-repeat="subfolder in folder.subfolders" ng-if="subfolder.nodeType == 'ws:section' && subfolder.title !=''" ng-init="template.getFirstThingsFromALfresco(subfolder,$index)">
                                    <h4 ng-click="template.populateTabs(folder,subfolder,$index);status.openfaqs=false" ng-style="template.mainCatName === subfolder.title ? { 'color':'#8c58b5'} : {}">{{subfolder.title}}</h4>
                                </div>
                                <!--<div class="head-title">
                                    <h4>Services</h4>
                                    <ul>
                                        <li><a href="#">Fresh Cut Flower Articles</a></li>
                                        <li><a href="#">Indoor Plant Articles</a></li>
                                        <li><a href="#">Outdoor Plant Articles</a></li>
                                        <li><a href="#">Gardening Articles</a></li>
                                    </ul>
                                    <h4> Customer Services</h4>
                                    <ul>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#" class="active">FAQ</a></li>
                                        <li><a href="#">Returns & Exchanges</a></li>
                                        <li><a href="#">Store Locator</a></li>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                        <li><a href="#">Perple Perks</a></li>
                                    </ul>
                                    <h4> Corporate</h4>
                                    <ul>
                                        <li><a href="#">Fresh Cut Flower Articles</a></li>
                                        <li><a href="#">Indoor Plant Articles</a></li>
                                        <li><a href="#">Outdoor Plant Articles</a></li>
                                        <li><a href="#">Gardening Articles</a></li>
                                    </ul>
                                </div>-->
                            </uib-accordion-group>

                        </uib-accordion>
                    </div>
                    <uib-tabset active="template.active" class="tabs first-tab-hidden">
                        <uib-tab class="in-tabs" index="0">
							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>All {{template.mainCatName}}</h4>
								</div>

								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" ng-model="template.articleSearch.description" placeholder="SEARCH" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}

										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>


								</div>
							</div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<table class="table table-responsive care-table">
									<thead>
										<tr style="background-color:#fff;" class="hidden-xs hidden-sm">
											<th width="60%">Article Name</th>
											<th width="25%">&nbsp;</th>
											<th width="25%">Article Type</th>
										</tr>
									</thead>
									<tbody>
                                        <tr ng-if="template.articleList.items.length==0">
                                            <td>
                                                <p> article's not found</p>
                                            </td>
                                        </tr>
<!--                                        <tr ng-repeat="article in template.articleList.items" ui-sref="staticPage({pageName:article.title})"> ui-sref="staticPageImage({pageName:article.fileName})" -->
										<tr ng-repeat="article in template.articleList.items" ng-if="article.nodeType == 'ws:article'" ng-click="template.navigateToArticle(article)">
											<td width="60%">
													<p class="article-title">{{article.title}}</p>
													<p class="content">{{article.description}}</p>
													<span class="sub-head" ng-if='article.author!=""'>Written By <span class="author">{{article.author}}</span></span>
											</td>
											<td width="25%" class="hidden-xs hidden-sm">&nbsp;</td>
											<td width="25%" class="hidden-xs hidden-sm"><span class="guide">{{article.tags[0]}}</span></td>
										 </tr>
									</tbody>
								</table>
                                <ul uib-pagination total-items="template.articleList.totalRecords" ng-model="template.alCurrentPage" max-size="10" class="pagination" boundary-link-numbers="true" rotate="false" ng-change="template.pageChanged()"></ul>

                            </div>

                        </uib-tab>
						<uib-tab class="in-tabs" index="$index+1" ng-repeat="subFolder in template.tabsData.subfolders.items" heading="{{subFolder.title}}" ng-if="subFolder.nodeType == 'ws:section' && subFolder.title !=''" ng-click="template.getThingsFromALfresco(template.tabsData.fileName,subFolder,$index)" >

							<span class="shadow-border"></span>
							<div class="row">
								<div class="title">
									<h4>{{subFolder.title}}</h4>
								</div>

								<div class="input-group changethisone">
									<input type="text" class="form-control search-text" ng-model="template.articleSearch.description" placeholder="SEARCH" />
									<span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1 0 55 55" style="enable-background:new 1 0 55 55;" xml:space="preserve">
									<style type="text/css">
										.st0 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 2;
											stroke-miterlimit: 10;
										}

										.st1 {
											fill: none;
											stroke: #FFFFFF;
											stroke-width: 4;
											stroke-miterlimit: 10;
										}
									</style>
									<line class="st0" x1="36.9" y1="35.7" x2="55" y2="53.8" />
									<circle class="st0" cx="23" cy="21.3" r="19.9" />
									<line class="st1" x1="37.9" y1="35.7" x2="56" y2="53.8" />
									<circle class="st1" cx="24" cy="21.3" r="19.9" />
								</svg></span>


								</div>
							</div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<table class="table table-responsive care-table">
									<thead>
										<tr style="background-color:#fff;" class="hidden-xs hidden-sm">
											<th width="60%">Article Name</th>
											<th width="25%">&nbsp;</th>
											<th width="25%">Article Type</th>
										</tr>
									</thead>
									<tbody>
                                        <tr ng-if="template.articleList.items.length==0">
                                            <td>
                                                <p> article's not found</p>
                                            </td>
                                        </tr>
<!--                                        <tr ng-repeat="article in template.articleList.items" ui-sref="staticPage({pageName:article.title})"> ui-sref="staticPageImage({pageName:article.fileName})" -->
										<tr ng-repeat="article in template.articleList.items" ng-if="article.nodeType == 'ws:article'" ng-click="template.navigateToArticle(article)">
											<td width="60%">
													<p class="article-title">{{article.title}}</p>
													<p class="content">{{article.description}}</p>
													<span class="sub-head" ng-if='article.author!=""'>Written By <span class="author">{{article.author}}</span></span>
											</td>
											<td width="25%" class="hidden-xs hidden-sm">&nbsp;</td>
											<td width="25%" class="hidden-xs hidden-sm"><span class="guide">{{article.tags[0]}}</span></td>
										 </tr>
									</tbody>
								</table>
                                <ul uib-pagination total-items="template.articleList.totalRecords" ng-model="template.alCurrentPage" max-size="10" class="pagination" boundary-link-numbers="true" rotate="false"  ng-change="template.pageChanged()"></ul>

                            </div>

                        </uib-tab>
                    </uib-tabset>
				</div>

			</div>
		</div>
        </ui-view>
		<div class="bottom-divider"></div>

</div>
</div>
