<div class="workshopLandPage" >
<!-- <div class="container-fluid p0 purple">

	<div class="breadcrumb-box">
		<ul class="breadcrumb">
			<li><a href="index.html">HOME</a> </li>

			<li><a href="">WORKSHOPS & EVENTS</a></li>
		</ul>
	</div>

</div> -->

<div class="container-fluid workshop-event-landing" > 
	<div cont-top-padding ng-style="{'margin-top': pageTopPadding + 'px','padding-top':'2.55em'}" class="workshop-event-landing-inner">
	    <div class="row masnrydiv mansryeventLanding" >		
			<div class="grid repeatable-blocks" style="width:100%;">
				<!-- <div class="grid-item" ng-repeat="(wlp, wlpDetail) in workshopEvent.eventListGroupByEventType">					
					<div ng-repeat="wlp2 in wlpDetail" ng-if="$index == 0" ui-sref="eventsListing({catId:wlp2.xp.CurrentFineline})">
						<div>
		                    <img class="" src="assets/images/allSeminarEvents.jpg">			
						</div>
		                <div class="promo-banner-txt promo-banner-txt-left">		
							<p>{{wlp2.xp.subTypeName}}</p>		
						</div>
					</div>	           
				</div> -->
				<div class="grid-item" ui-sref="eventsListing({catId:'WorkshopsEvent'})">
					<div>
	                    <img class="" src="assets/images/allSeminarEvents.jpg">			
					</div>
	                <div class="promo-banner-txt promo-banner-txt-left">		
							<p>All seminars & events</p>		
					</div>
				</div>				
				
	            <div class="grid-item" ui-sref="eventsListing({catId:'WorkshopsEvents_TicktedEvents_DesignWorkshops'})">		
					<div>		
						<img class="" src="assets/images/Landing_DesignWorkshop.jpg">		
					</div>	
	                <div class="promo-banner-txt promo-banner-txt-left">		
							<p>Design workshops</p>		
					</div>
				</div>
	            
	            <div class="grid-item" ui-sref="eventsListing({catId:'WorkshopsEvents_TicktedEvents_HowToClasses'})">		
					<div>		
						<img class="" src="assets/images/Landing_HowTo.jpg">			
					</div>	
	                <div class="promo-banner-txt promo-banner-txt-left">		
							<p>How-to classes</p>		
					</div>
				</div>
	            
	            
			    <div class="grid-item " ng-click="workshopEvent.open();" >		
					<div>		
						<img class="" src="assets/images/Landing_Calendar.jpg">		
					</div>		
	                <div class="promo-banner-txt promo-banner-txt-left">		
							<p>Events calendar </p>		
					</div>
				</div> 
	            
				<div class="grid-item" ui-sref="eventsListing({catId:'WorkshopsEvents_FreeEvents'})" >		
					<div>		
						<img class="" src="assets/images/Landing_Free.jpg">
					</div>	
	                <div class="promo-banner-txt promo-banner-txt-left">		
							<p>Free events</p>		
					</div>
				</div>
			</div>
		</div>
	<div>
		<!-- class="owl-carousel" id="owl-carousel-eventsTIH" -->
	<div class="workshop-IdeasHouse">
        <h1>The Ideas House</h1>
    </div>
    <div class="shop-by-category row">
        <div class="categories col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul ng-repeat="(wlp, wlpDetail) in workshopEvent.eventListIdeaHouse" >
				 <li class="sub-nav col-xs-6 col-sm-3 col-md-3 col-lg-3 " ng-if="wlpDet.xp.IsDefaultProduct == true;" ng-repeat="wlpDet in wlpDetail">
					<div class="ctg-product-img">
						<img src="assets/images/placement_for_catImage.jpg" class="">
		 				<div>
							<a class="maincat_link ng-binding" href="#">{{wlpDet.Name}}</a>
						</div>
					</div>
				</li>
            </ul>
        </div>
    </div>

	<!-- Page Content -->
	<div style="clear:both"></div>
	<div class="events-slider-home">
		<div class="events-promo row">
			<div class="events-promo-sub1 col-xs-12 col-sm-12 col-md-7 col-lg-7"><h1>Workshops & Events</h1><h2>Create your own arrangements, get inspired by the ideas house & more great events</h2></div>
			<div class="events-promo-sub2 col-xs-12 col-sm-12 col-md-5 col-lg-5"><button class="promo-button" ui-sref="eventsListing({catId:'WorkshopsEvent'})">View All Workshops & Events</button></div>
		</div>
		<div class="events-slider-cont">
			<div class="events-slider owl-carousel" id="owl-carousel-eventsAll">
				<div class="events-slider-block events-slider-block-w" ng-repeat="(events,eventSub) in workshopEvent.eventListGroupByProductCode " ng-if="$index <10">
				<div ng-repeat="event in eventSub | orderBy:'xp.SpecsOptions.Size'" ng-if="event.xp.IsDefaultProduct == true;">
					<div class="p0 m0 events-promo">
						<img class="free-event" ng-if="event.xp.IsWorkshop == false;" src="http://52.206.111.191:8080/alfresco/service/imagefinder/{{event.xp.Images[0].OriginalName| trim }}?alf_ticket={{base.alf_ticket}} "/>

						<span class="free-event-default-image" ng-if="!event.xp.Images[0] && event.xp.IsWorkshop == false">
							<span ng-repeat="quicklink in base.quicklinks" ng-if="$index == 4" >
								<span ng-include="quicklink"></span>
							</span>
						</span>

						<img class="paid-event" ng-if="event.xp.IsWorkshop == true" src="http://52.206.111.191:8080/alfresco/service/imagefinder/{{event.ID}}?alf_ticket={{base.alf_ticket}} "/>

						<span class="paid-event-default-image" ng-if="event.xp.IsWorkshop == true">
							<span ng-repeat="quicklink in base.quicklinks" ng-if="$index == 4" >
								<span ng-include="quicklink"></span>
							</span>
						</span>

					</div>
					
					<div class="events-desc staticSeqId"  data-sequence="{{event.xp.ProductCode}}" data-prodid="{{event.ID}}">
						<h2 ng-click="workshopEvent.detailsPage($event);">{{event.Name}}</h2>
						<p>{{event.Description}}</p>
						<p class="more-details">More details</p>
						<p class="freeEntryMobile visible-xs visible-sm" ng-if="event.xp.IsWorkshop == false">Open to the Public & Free to Attend</p>
						<div class="row events-date">
							<div class="event-date">{{event.xp.EventDate | date : "dd" }}<span>{{event.xp.EventDate | date : "MMM" }}</span><span class="event-day">{{event.xp.EventDate | date : "EEEE" }}</span></div>
							<div class="">
								<button class="event-register" ng-if="event.xp.IsWorkshop == true">Register Now</button>
								<div class="event-time">
									<span class="events-countdown">	
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
											<circle cx="29.3" cy="32.7" r="25"/>
											<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
											<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
											<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
											<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
											<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
										</svg>
									</span>
									<span>{{event.xp.SpecsOptions.Size}}</span>
									<span ng-if="event.xp.SpecsOptions.Color>1"> - {{event.xp.SpecsOptions.Color}}</span>
									<span ng-if="event.xp.IsWorkshop == true" class="events-cost" >{{event.PriceSchedule.PriceBreaks[0].Price | currency}}</span>
									<span class="fl hidden-xs hidden-sm" ng-if="event.xp.IsWorkshop == false">Open to the Public & Free to Attend</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- last child -->
				<div class="events-slider-block events-slider-block-w" ></div>
			</div>
		</div>
	</div>
    
    <div class="clearfix"></div>
    <!-- static masonry arrangement start-->
    <div ng-include="workshopEvent.gridImgTemplate"></div>
	<!-- <div class="row masnrydiv" >		
		<div class="grid repeatable-blocks" style="width:100%;">
			<div class="grid-item">
				<div>
					<img class="desktop-img" src="{{workshopEvent.topGridImg}}" />
					<img class="mobile-img" src="{{workshopEvent.topGridImg}}" />
					<div class="promo-banner-txt promo-banner-txt-left">		
						<h1>{{workshopEvent.topGridTitle}}</h1>		
						<p>{{workshopEvent.topGridDescription}}</p>		
						<button>{{workshopEvent.topGridBtnTxt}}</button>		
					</div>		
				</div>
			</div>				
			<div class="grid-item" ng-repeat="gridimg in workshopEvent.gridImgs" ng-if="$index > 0">		
				<div>		
					<img class="desktop-img" src="{{gridimg}}" />		
					<img class="mobile-img" src="{{gridimg}}" />		
				</div>		
			</div>		
		
			
				
		</div>
	</div>	 -->
    <!-- static masonry arrangement end-->

</div>