<div id="recepientmodal" class="change-recipient-modal" window-height ng-style="{'max-height':windowHeight, 'overflow-y':'auto'}">
    <div class="head-title">
        <p class="title">Add New recipent</p>
        <p class="close-icon" ng-click="changeReceipentPopup.cancel()">
            <a>
               <?xml version="1.0" encoding="utf-8"?>
               <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="-737.5 479.1 44.5 44.5" style="enable-background:new -737.5 479.1 44.5 44.5;" xml:space="preserve">
                  <g>
                     <g>
                        <rect x="-716.8" y="477.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -866.6212 1361.5657)" width="5" height="48"/>
                     </g>
                     <g>
                        <rect x="-738.8" y="499.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -866.6214 1361.5663)" width="48" height="5"/>
                     </g>
                  </g>
               </svg>
            </a>
         </p>
    </div>
    
     <div class="row name-block">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <fieldset class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" class="form-control" id="first-name" placeholder="First Name" ng-model="changeReceipentPopup.dtls.FirstName">
                                    </fieldset>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <fieldset class="form-group">
                                        <label for="last-name">Last Name</label>
                                        <input type="text" class="form-control" id="last-name" placeholder="Last Name" ng-model="changeReceipentPopup.dtls.LastName">
                                    </fieldset>
                                </div>
                                <div class="col-md-5 col-lg-5">
                                    <fieldset class="form-group">
                                        <label for="zip-code">ZIP Code</label>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4">
                                                <input type="text" class="form-control" id="zip-code" placeholder="Zip Code" autocomplete="off" ng-model="changeReceipentPopup.dtls.Zip">
                                            </div>
                                            <!-- <div class="col-md-8 col-lg-8 label-left-align">
                                                <p class="svg-right">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                                        <path d="M5.378 11.37L2 7.59l1.438-1.286L5.374 8.47l5.185-5.84L12 3.91l-6.622 7.46" fill="#fff" />
                                                    </svg>
                                                </p>
                                                <p class="delivery-text">
                                                    <input type="checkbox"/>Same-Day Available</p>
                                            </div> -->
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row address-block">
                           <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <fieldset class="form-group">
                                        <label for="address-1">Address</label>
                                        <input type="text" class="form-control" id="address-1" placeholder="Address"  ng-model="changeReceipentPopup.dtls.Street1">
                                    </fieldset>
                                </div>
                                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">
                                    <fieldset class="form-group">
                                        <label for="address-2">Address 2</label>
                                        <input type="text" class="form-control" id="address-2" placeholder="Address 2"  ng-model="changeReceipentPopup.dtls.Street2">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <fieldset class="form-group">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" placeholder="State" ng-model="changeReceipentPopup.dtls.State">
                                    </fieldset>
                                </div>
                                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">
                                    <fieldset class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="City"  ng-model="changeReceipentPopup.dtls.City">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <fieldset class="form-group phone-box">
                                        <label for="phone">Recipient Number</label>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-xs-4">
                                                <input type="text" class="form-control"  ng-model="changeReceipentPopup.dtls.Phone">
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-xs-4">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-xs-4">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                    </div>
                    <div class="row save-btn">
                    <div class="col-md-12 col-lg-12 btn-click" id="changereceipentid">
                        <button class="cancel-btn" ng-click="changeReceipentPopup.cancel()">Cancel</button>
                        <button class="save-btn" ng-click="changeReceipentPopup.changedtls(changeReceipentPopup.dtls)">Save</button>
                    </div>
                </div>
</div>