<div id="recepientmodal" class="change-recipient-modal" window-height ng-style="{'max-height':windowHeight, 'overflow-y':'auto'}">
    <div class="head-title">
        <p class="title">Edit recipient</p>
        <p class="close-icon" ng-click="editRecipientPopup.cancel()">
            <a>
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-737.5 479.1 44.5 44.5" style="enable-background:new -737.5 479.1 44.5 44.5;" xml:space="preserve">
                    <g>
                        <g>
                            <rect x="-716.8" y="477.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -866.6212 1361.5657)" width="5" height="48" />
                        </g>
                        <g>
                            <rect x="-738.8" y="499.8" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -866.6214 1361.5663)" width="48" height="5" />
                        </g>
                    </g>
                </svg>
            </a>
        </p>
    </div>
    <div class="address-book">
        <a class="view-address-link" ng-if="!!editRecipientPopup.isLoggedIn" ng-click="editRecipientPopup.addressBook()"><span class="svg-outer">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <g>
                        <rect x="11" class="stR" width="2" height="24"/>
                        <rect y="11" class="stR" width="24" height="2"/>
                    </g>
                    </svg>
                    </span>VIEW ADDRESS BOOK
                    </a>
        <a href="" ng-if="!!editRecipientPopup.showaddress" class="show-all" ng-click="editRecipientPopup.limit=100">show all</a>
        <div class="addressbookdiv" ng-if="!!editRecipientPopup.showaddress">
            <label ng-repeat="addressbook in editRecipientPopup.addressbook.Items | limitTo:editRecipientPopup.limit track by addressbook.ID" class="parentP">
                                <input type="radio" name="addressbook" ng-model="editRecipientPopup.savedBookAddress"  ng-change="editRecipientPopup.addBookAddress(editRecipientPopup.item,editRecipientPopup.savedBookAddress)" id="address{{$index}}" />
                                <label for="address{{$index}}">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <p>
                                        <span>{{addressbook.FirstName}} {{addressbook.LastName}}</span>
                                        <span>{{addressbook.Street1}}, {{addressbook.Street2}}</span>
                                        <span>{{addressbook.City}}, {{addressbook.State}}</span>
                                        <span>{{addressbook.Country}}, {{addressbook.Zip}}</span>
                                        <span> {{addressbook.Phone}}</span>
                                    </p>
                                </label>
            </label>
        </div>
    </div>
    <div class="row name-block">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" placeholder="First Name" ng-model="editRecipientPopup.item.ShippingAddress.FirstName" required>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Last Name" ng-model="editRecipientPopup.item.ShippingAddress.LastName" required>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" ng-if="editRecipientPopup.addressType=='Residence'|| editRecipientPopup.addressType=='School' || editRecipientPopup.addressType=='Business'">
                    <fieldset class="form-group">
                        <label for="zip-code">ZIP Code</label>
                        <input type="text" class="form-control" id="zip-code" placeholder="Zip Code" autocomplete="off" ng-model="editRecipientPopup.item.ShippingAddress.Zip" ng-blur="editRecipientPopup.getCityState(editRecipientPopup.item)" required>
                    </fieldset>
                </div>
                <!--<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <fieldset class="form-group">
                        <label for="qty">Qty</label>
                        <input type="number" id="qty" class="form-control" value="{{editRecipientPopup.item.Quantity}}" />
                    </fieldset>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row radio-btn-group">

        <div class="receipient-location" ng-init="editRecipientPopup.addressType=editRecipientPopup.item.xp.addressType">
            <div class="radio-inline">
                <input type="radio" id="addre-residnce-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Residence" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-residnce-opt" id="first-label">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Residence <span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>
            <div class="radio-inline">
                <input type="radio" id="addre-hospital-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Hospital" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-hospital-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Hospital<span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>
            <div class="radio-inline">
                <input type="radio" id="addre-church-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Church" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-church-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Church<span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>
            <div class="radio-inline">
                <input type="radio" id="addre-funeral-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Funeral" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-funeral-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Funeral Home<span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>
            <div class="radio-inline">
                <input type="radio" id="addre-cemetry-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Cemetery" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-cemetry-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Cemetery<span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>

            <div class="radio-inline">
                <input type="radio" id="addre-school-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="School" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-school-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">School<span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>
            <div class="radio-inline">
                <input type="radio" id="addre-buss-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Business" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoDeliveryExInStore}}">
                <label for="addre-buss-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Business <span ng-if="editRecipientPopup.item.xp.NoDeliveryExInStore">(Not Available)</span></span>
                                </label>
            </div>
            <div class="radio-inline">
                <input type="radio" id="addre-call-opt" name="optradio" ng-model="editRecipientPopup.addressType" value="Will Call" ng-change="editRecipientPopup.addressTypeChanged(editRecipientPopup.item,editRecipientPopup.addressType)" ng-disabled="{{!!editRecipientPopup.item.xp.NoInStorePickUp}}">
                <label for="addre-call-opt">
                                    <span class="radioOutline"><span class="radioInside"></span></span>
                                    <span class="label-name">Will Call <span ng-if="editRecipientPopup.item.xp.NoInStorePickUp">(Not Available)</span></span>
                                </label>
            </div>


        </div>
    </div>


    <div class="row address-block" ng-form="formedit">

                <div class="location-recipientName patient-det row" ng-if="editRecipientPopup.addressType=='Hospital'">
                    <p class="patient-tilte">Patient Name</p>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group">
                            <label for="patient-first-name">First Name</label>
                            <input type="text" class="form-control" id="patient-first-name" placeholder="" ng-model="editRecipientPopup.item.xp.PatientFName" required>
                        </fieldset>
                    </div>
                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 lastName">
                        <fieldset class="form-group">
                            <label for="patient-last-name">Last Name</label>
                            <input type="text" class="form-control" id="patient-last-name" placeholder="" ng-model="editRecipientPopup.item.xp.PatientLName" required>
                        </fieldset>
                    </div>

                </div>
                <div class="location-recipientName funeral-det row" ng-if="editRecipientPopup.addressType=='Funeral'">
                    <p class="in-memory">In Memory of:</p>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <fieldset class="form-group">
                            <label for="patient-first-name">First Name</label>
                            <input type="text" class="form-control" id="patient-first-name" placeholder="" ng-model="editRecipientPopup.item.xp.PatientFName" required>
                        </fieldset>
                    </div>
                    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 lastName">
                        <fieldset class="form-group">
                            <label for="patient-last-name">Last Name</label>
                            <input type="text" class="form-control" id="patient-last-name" placeholder="" ng-model="editRecipientPopup.item.xp.PatientLName" required>
                        </fieldset>
                    </div>

                </div>
                <div class="row hospital-search" ng-if="editRecipientPopup.addressType=='Hospital'">


                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <fieldset class="form-group">
                            <label for="Hospital">Find Hospital</label>
                            <input type="search" id="Hospital" class="form-control" ng-model='editRecipientPopup.name' uib-typeahead="st for st in editRecipientPopup.hospitalNames | filter:$viewValue" typeahead-on-select="editRecipientPopup.hospitalDetails($item,editRecipientPopup.item,editRecipientPopup.name)"
                            />
                        </fieldset>
                    </div>

                </div>
       
  
        <div>
            <div class="row funeral-det" ng-if="editRecipientPopup.addressType == 'Funeral'">

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="Funeral">Find FuneralHome</label>
                        <input type="search" id="Funeral" class="form-control" ng-model='editRecipientPopup.name' uib-typeahead="st for st in editRecipientPopup.funeralHomes | filter:$viewValue" typeahead-on-select="editRecipientPopup.funeralHomeDetails($item,editRecipientPopup.item,editRecipientPopup.name)"
                        />
                    </fieldset>
                </div>

            </div>
        </div>
        <div>
            <div class="row church-det" ng-if="editRecipientPopup.addressType == 'Church'">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="Church">Find Curchs</label>
                        <input type="search" id="Church" class="form-control" ng-model='editRecipientPopup.name' uib-typeahead="st for st in editRecipientPopup.churchNames | filter:$viewValue" typeahead-on-select="editRecipientPopup.churchDetails($item,editRecipientPopup.item,editRecipientPopup.name)"
                        />
                    </fieldset>
                </div>

            </div>
        </div>
        <!--Cemetery-->
        <div>
            <div class="row church-det" ng-if="editRecipientPopup.addressType == 'Cemetery'">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="Cemetery">Find Cemeteries</label>
                        <input type="search" id="Cemetery" class="form-control" ng-model='editRecipientPopup.name' uib-typeahead="st for st in editRecipientPopup.cemeteries | filter:$viewValue" typeahead-on-select="editRecipientPopup.cemeteryDetails($item,editRecipientPopup.item,editRecipientPopup.name)"
                        />
                    </fieldset>
                </div>

            </div>
        </div>
        <div>
            <div class="row store-det" ng-if="editRecipientPopup.addressType=='Will Call'">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="store">Find Store</label>
                        <input type="search" id="store" class="form-control" ng-model="editRecipientPopup.name" uib-typeahead="st for st in editRecipientPopup.storeNames | filter:$viewValue" typeahead-on-select="editRecipientPopup.storesDetails($item,editRecipientPopup.item,editRecipientPopup.name)"
                        />
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row address-block">
            <div class="row" ng-if="editRecipientPopup.addressType=='Residence'|| editRecipientPopup.addressType=='School' || editRecipientPopup.addressType=='Business'">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="address-1">Address</label>
                        <input type="text" class="form-control" id="address-1" placeholder="Address" ng-model="editRecipientPopup.item.ShippingAddress.Street1" required>
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="address-2">Address 2</label>
                        <input type="text" class="form-control" id="address-2" placeholder="Address 2" ng-model="editRecipientPopup.item.ShippingAddress.Street2">
                    </fieldset>
                </div>
            </div>
             <div class="row" ng-if="editRecipientPopup.addressType=='Funeral'|| editRecipientPopup.addressType=='Church' || editRecipientPopup.addressType=='Hospital' || editRecipientPopup.addressType=='Will Call' || editRecipientPopup.addressType=='Cemetery'">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.name">
                    <fieldset class="form-group">
                        <label for="address-1">Address</label>
                        <input type="text" class="form-control" id="address-1" placeholder="Address" ng-model="editRecipientPopup.item.ShippingAddress.Street1">
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.name">
                    <fieldset class="form-group">
                        <label for="address-2">Address 2</label>
                        <input type="text" class="form-control" id="address-2" placeholder="Address 2" ng-model="editRecipientPopup.item.ShippingAddress.Street2">
                    </fieldset>
                </div>
            </div>
            <div class="row" ng-if="editRecipientPopup.addressType=='Residence'|| editRecipientPopup.addressType=='School' || editRecipientPopup.addressType=='Business'">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" ng-model="editRecipientPopup.item.ShippingAddress.City">
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" ng-model="editRecipientPopup.item.ShippingAddress.State">
                    </fieldset>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.addressType=='Business'">
                    <fieldset class="form-group">
                        <label for="Business">Business</label>
                        <input type="text" class="form-control" id="Business" placeholder="Business" autocomplete="off" ng-model="editRecipientPopup.item.ShippingAddress.CompanyName" >
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.addressType=='School'">
                    <fieldset class="form-group">
                        <label for="School">School</label>
                        <input type="text" class="form-control" id="School" placeholder="School Name" autocomplete="off" ng-model="editRecipientPopup.item.ShippingAddress.CompanyName" >
                    </fieldset>
                </div>
                </div>
            </div>
            <div class="row"  ng-if="editRecipientPopup.addressType=='Funeral'|| editRecipientPopup.addressType=='Church' || editRecipientPopup.addressType=='Hospital' || editRecipientPopup.addressType=='Will Call' || editRecipientPopup.addressType=='Cemetery'">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.name">
                    <fieldset class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" ng-model="editRecipientPopup.item.ShippingAddress.City">
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.name">
                    <fieldset class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" ng-model="editRecipientPopup.item.ShippingAddress.State">
                    </fieldset>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="editRecipientPopup.name">
                    <fieldset class="form-group">
                        <label for="zip-code">ZIP Code</label>
                        <input type="text" class="form-control" id="zip-code" placeholder="Zip Code" autocomplete="off" ng-model="editRecipientPopup.item.ShippingAddress.Zip" >
                    </fieldset>
                </div>
                </div>
               
                
            </div>

             <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 phone-block"  ng-if="editRecipientPopup.addressType=='Residence'|| editRecipientPopup.addressType=='School' || editRecipientPopup.addressType=='Business'">
                <fieldset class="form-group phone-box">
                    <label for="phone">Phone Number</label>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="editRecipientPopup.item.ShippingAddress.Phone1">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="editRecipientPopup.item.ShippingAddress.Phone2">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="editRecipientPopup.item.ShippingAddress.Phone3">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 phone-block"  ng-if="editRecipientPopup.addressType=='Funeral'|| editRecipientPopup.addressType=='Church' || editRecipientPopup.addressType=='Hospital' || editRecipientPopup.addressType=='Will Call' || editRecipientPopup.addressType=='Cemetery'">
                <fieldset class="form-group phone-box" ng-if="editRecipientPopup.name">
                    <label for="phone">Phone Number</label>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="editRecipientPopup.item.ShippingAddress.Phone1" phone-validation ng-minlength="3" maxlength="3" ng-keypress="editRecipientPopup.IsNumeric($event)" required>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="editRecipientPopup.item.ShippingAddress.Phone2" phone-validation ng-minlength="3" maxlength="3" ng-keypress="editRecipientPopup.IsNumeric($event)" required>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="editRecipientPopup.item.ShippingAddress.Phone3" phone-validation ng-minlength="4" maxlength="4" ng-keypress="editRecipientPopup.IsNumeric($event)" required>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row save-address" ng-if="!!editRecipientPopup.isLoggedIn">
            <div class="col-md-4 col-lg-4">
                <div class="Checkbox">
                    <input type="checkbox" ng-model="editRecipientPopup.saveaddressdata" ng-change="editRecipientPopup.saveUserAddressData(editRecipientPopup.saveaddressdata,editRecipientPopup.item)">
                    <div class="Checkbox-visible"></div>
                </div>
                <label> Save this address</label>
            </div>
        </div>
        <div class="row save-btn">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-click" id="changerecipientid">
                <button class="save-btn" ng-click="editRecipientPopup.changedtls(editRecipientPopup.item)">Save</button>
                <button class="cancel-btn" ng-click="editRecipientPopup.cancel()">Cancel</button>
            </div>
        </div>
    </div>